<template>
  <main class="main">
    <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">Контакты и реквизиты</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input"><input type="text" name="hero-search" placeholder="Поиск по артикулу или названию товара"></div>
            </div><button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="inner inner--flex inner--delivery">
      <div class="container">
        <div class="inner__content">
          <aside class="sidebar">
            <div class="sidebar__item">
              <div class="sidebar__item-head">
                <div class="sidebar__item-head-title"><i><img src="/images/info.png" alt="alt"></i><span>Информация</span></div><button class="sidebar__item-head-burger"><img src="/images/burger.png" alt="alt"></button>
              </div>
              <ul class="sidebar__item-list">
                <li><nuxt-link to="/delivery"><i><img src="/images/list.png" alt="alt"></i><span>Доставка</span></nuxt-link></li>
                <li><nuxt-link to="/payment"><i><img src="/images/list.png" alt="alt"></i><span>Оплата</span></nuxt-link></li>
                <li><nuxt-link to="/contact"><i><img src="/images/list.png" alt="alt"></i><span>Контакты</span></nuxt-link></li>
                <li><nuxt-link to="/guarantees"><i><img src="/images/list.png" alt="alt"></i><span>Гарантии и возврат</span></nuxt-link></li>
              </ul>
            </div>
          </aside>
          <div class="inner__wrap">
            <div class="inner__top">
              <h1 class="inner__title">Контакты</h1>
              <ul class="breadcrumbs">
                <li><nuxt-link to="/">Главная</nuxt-link></li>
                <li><a>Контакты</a></li>
              </ul>
            </div>
            <div class="contact__content delivery__content contact--border">
              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="contact-info">
                    <a href="tel:8 (843) 207-19-97">8 (843) 207-19-97</a>
                    <span>г. Казань, ул. Волгоградская 3</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="contact-form">
                    <span>Форма обратной связи</span>
                    <p>Введите Ваши даные:</p>
                    <feedback-form></feedback-form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="contact-map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab981034cb5a5eae6d9f9cb14ba0485e88572ba802bedf84917db0a0de0948310&amp;source=constructor" width="100%" height="421" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>
<script>
  import Loader from '~/components/Loader.vue'
  import BasketPrice from "../../components/BasketPrice";
  import FeedbackForm from "../../components/FeedbackForm";

  export default {
    name: 'Contact',
    head: {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Контакты и реквизиты 🚀 Zapchasti-Express  - бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
        }
      ],
      title: "Контакты и реквизиты - 🚘 zapchasti-express – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
    },
    components: {
      FeedbackForm,
      BasketPrice,
      Loader
    },
    data() {
      return {
        loading: false
      }
    },
    mounted() {},
    computed: {},
    methods: {}
  }
</script>

<style>
  .contact-form .form__group-message {
    font-size: .8em;
  }
  .t-area.contact {
    max-width: 400px;
  }
</style>
