<template>
  <main class="main">
    <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">Гарантии и возврат</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input"><input type="text" name="hero-search" placeholder="Поиск по артикулу или названию товара"><span class="form__group-message">Поле должно быть заполнено</span></div>
            </div><button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="inner inner--flex inner--delivery">
      <div class="container">
        <div class="inner__content">
          <aside class="sidebar">
            <div class="sidebar__item">
              <div class="sidebar__item-head">
                <div class="sidebar__item-head-title"><i><img src="/images/info.png" alt="alt"></i><span>Информация</span></div><button class="sidebar__item-head-burger"><img src="/images/burger.png" alt="alt"></button>
              </div>
              <ul class="sidebar__item-list">
                <li><nuxt-link to="/delivery"><i><img src="/images/list.png" alt="alt"></i><span>Доставка</span></nuxt-link></li>
                <li><nuxt-link to="/payment"><i><img src="/images/list.png" alt="alt"></i><span>Оплата</span></nuxt-link></li>
                <li><nuxt-link to="/contact"><i><img src="/images/list.png" alt="alt"></i><span>Контакты</span></nuxt-link></li>
                <li><nuxt-link to="/guarantees"><i><img src="/images/list.png" alt="alt"></i><span>Гарантии и возврат</span></nuxt-link></li>
              </ul>
            </div>
          </aside>
          <div class="inner__wrap">
            <div class="inner__top">
              <h1 class="inner__title">Условия гарантии и возврата</h1>
              <ul class="breadcrumbs">
                <li><nuxt-link to="/">Главная</nuxt-link></li>
                <li><a>Гарантии и возврат</a></li>
              </ul>
            </div>
            <div class="payment__content delivery__content inner--border">
              <div class="delivery__content-top">
                <p class="delivery__content-title">
                  Условия гарантии и возврата
                </p>
                <div class="delivery__content-text">

                  <p>
                    1 Возврат товара <strong>надлежащего</strong> качества, для оптовых клиентов,
                    возможен в течение <strong>14 календарных дней</strong> с момента приобретения товара клиентом.
                  </p>
                  <p>
                    <strong>
                      2 Срок возврата товара не надлежащего качества 14 календарных дней, с момента
                      получения товара клиентом.
                    </strong>
                  </p>
                  <p>
                    3 Поставщик имеет право отказать в возврате товара надлежащего качества, заказанного по
                    ошибке клиента если: он заказан по зарубежным складам, центральным складам
                    оригинальных автозапчастей по России, по поставщикам, которые в своих условиях
                    указывают невозможность возврата по ошибке заказчика, если стоимость товара менее
                    500руб, при возврате технических жидкостей, масел, стекол, электрических деталей и
                    деталей оптики. Поставщик вправе отказать в претензии Покупателю, в случае, если
                    видимый дефект незначительный, не влияет на качественные показатели деталей и не
                    влечёт дополнительных расходов при установке на автомобиль:
                  </p>
                  <p>
                    <strong>
                    3.1 царапины, потёртости, шероховатости на транспортировочном грунте, для деталей
                    под покраску
                    </strong>
                  </p>
                  <p>
                    <strong>
                    3.2 дефекты деталей, которые после установки на автомобиль будут скрыты от
                    визуального просмотра
                    </strong>
                  </p>
                  <p>
                    <strong>
                    3.3 незначительная деформация деталей из мягкого пластика, устранимая при
                    установке или сборке детали
                    </strong>
                  </p>
                  <p>
                    <strong>
                    3.4 замятие сот, царапины, вмятины на радиаторе, не влияющие на теплообменные
                    свойства и
                    </strong>
                  </p>
                  <p>
                    3.5 царапины, потёртости, вмятины на глушителях, трубах, резонаторах, не влияющие на
                    работоспособность деталей
                  </p>
                  <p>
                    4. Товар к возврату принимается в чистой, неповреждённой упаковке, с сохранённой
                    этикеткой. Дополнительные надписи и цветной скотч на упаковке не допускаются.
                    Испорченная упаковка или её отсутствие может послужить причиной отказа в возврате
                  </p>
                  <p>
                    5. При выявлении клиентом заводского брака детали, оформляется претензия
                    производителю товра по гарантии. Гарантийный срок деталей устанавливает
                    производитель. При запросе в "информации по заказам" необходимо подгрузить
                    отсканированные документы: копию гарантийного талона, копии заказа-наряда с СТО на
                    установку детали с отмеченным пробегом автомобиля, копии сертификатов СТО с
                    приложением с перечнем разрешённых работ (при наличии), копии заказа-наряда с СТО
                    на снятие детали с отмеченным пробегом автомобиля, копии документов
                    подтверждающие оплату выполненных работ в СТО, заключение о браке специалиста СТО,
                    заключение независимой экспертизы (при наличии). При положительном решении
                    данные документы <strong>(оригиналы!)</strong> необходимо отправить вместе с деталью. Полный зачёт
                    денежных средств осуществляется после подтверждения заводского дефекта конечным
                    поставщиком . При гарантийном возврате ответственность поставщика ограничивается
                    стоимостью запчасти и независимой экспертизы.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>
<script>
  import Loader from '~/components/Loader.vue'
  import BasketPrice from "../../components/BasketPrice";

  export default {
    name: 'Guarantees',
    head: {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Условия гарантии и возврата 🚀 Zapchasti-Express  - бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
        }
      ],
      title: "Условия гарантии и возврата - 🚘 zapchasti-express – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
    },
    components: {
      BasketPrice,
      Loader
    },
    data() {
      return {
        loading: false
      }
    },
    mounted() {},
    computed: {},
    methods: {}
  }
</script>
