<template>
    <main class="main">
      <div class="container">
        <div class="column-models">
          <div class="column-models__title">Модели</div>
          <div class="column-models__inner" v-if="models.length > 0">
            <a @click.prevent="loadModifications(model)" href="#" v-for="model in models" :key="model.description + Math.random()">
              {{model.description}}
            </a>
          </div>
          <div class="column-models__inner" v-else>
            <p>Извините, для данного бренда отсутсвуют модели</p>
            <nuxt-link to="/" tag="a" style="text-decoration: underline;">Вернуться</nuxt-link>
          </div>
        </div>
      </div>
      <loader v-if="loading"></loader>
    </main>
</template>


<script>
  import Loader from '~/components/Loader.vue'
  export default {
    components: {
      Loader
    },
    head() {
      return {
        title: this.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.description
          }
        ],
      }
    },
    data() {
      return {
        loading: true,
        title: '',
        description: ''
      }
    },
    computed: {
      models: function () {
        return this.$store.getters['getModels'];
      }
    },
    created() {
      let brandDescription = this.$route.params.auto;

      this.title = `${brandDescription} - купить в Казани - Запчасти для ${brandDescription}`;
      this.description = `Заказать по низкой цене на автомобиль  ${brandDescription}. 🚘 Запчасти на все авто в наличии и под заказ с доставкой по Казани и Татарстану. Быстро и качественно - zapchasti-express.ru`;

      this.$store.dispatch('getModels', brandDescription).then(() => {

        this.loading = false;

      }).catch(error => {
        return this.$nuxt.error({ statusCode: 404, message: error });
      })
    },
    mounted() {

    },
    methods: {
      loadModifications(model) {
        let modelRoute = model.description.replace(/\//g, '%2F');
        this.$router.push(this.$route.fullPath + '/' + modelRoute)
      }
    },
  }
</script>

<style lang="sass" scoped>
  .main
    background-color: #0f141d
    padding: 20px 0
  .column-models
    display: flex
    flex-direction: column
    align-items: center
    &__inner
      display: flex
      flex-direction: column
      align-items: center
      background: #fff
      border-radius: 2px
      max-height: 350px
      overflow-y: scroll
      padding: 20px
      width: 400px
      text-align: center
    &__inner > a:first-of-type ~ *
      margin-top: 5px
    &__inner > a:hover
      color: #E62E04
    &__title
      letter-spacing: 0.02em
      font-size: 1.125em
      text-align: center
      color: #ffffff
      cursor: pointer
      border-radius: 6px 6px 0 0
      padding: 1.375rem 60px
      background-color: #e62e04
</style>

