<template>
  <main class="main">
    <loader v-if="loading"></loader>
    <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg);">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">Доставка запчастей за 1 день со склада</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input">
                <input
                  type="text"
                  name="hero-search"
                  placeholder="Поиск по артикулу или названию товара"
                />
                <span class="form__group-message">Поле должно быть заполнено</span>
              </div>
            </div>
            <button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="inner inner--flex inner--delivery">
      <div class="container">
        <div class="inner__content">
          <aside class="sidebar">
            <div class="sidebar__item">
              <div class="sidebar__item-head">
                <div class="sidebar__item-head-title">
                  <i>
                    <img src="/images/info.png" alt="alt" />
                  </i>
                  <span>Информация</span>
                </div>
                <button class="sidebar__item-head-burger">
                  <img src="/images/burger.png" alt="alt" />
                </button>
              </div>
              <ul class="sidebar__item-list">
                <li>
                  <nuxt-link to="/delivery">
                    <i>
                      <img src="/images/list.png" alt="alt" />
                    </i>
                    <span>Доставка</span>
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/payment">
                    <i>
                      <img src="/images/list.png" alt="alt" />
                    </i>
                    <span>Оплата</span>
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/contact">
                    <i>
                      <img src="/images/list.png" alt="alt" />
                    </i>
                    <span>Контакты</span>
                  </nuxt-link>
                </li>
                <li><nuxt-link to="/guarantees"><i><img src="/images/list.png" alt="alt"></i><span>Гарантии и возврат</span></nuxt-link></li>
              </ul>
            </div>
          </aside>
          <div class="inner__wrap">
            <div class="inner__top">
              <h1 class="inner__title">Доставка</h1>
              <ul class="breadcrumbs">
                <li>
                  <nuxt-link to="/">Главная</nuxt-link>
                </li>
                <li>
                  <a>Доставка</a>
                </li>
              </ul>
            </div>
            <div class="delivery__content inner--border">
              <div class="delivery__items">
                <div class="delivery__item">
                  <div class="delivery__item-icon">
                    <p class="delivery__item-title">
                      Самовывоз
                    </p>
                    <i>
                      <img src="/images/bike.png" alt="alt" />
                    </i>
                  </div>
                  <div class="delivery__item-info">
                    <div class="delivery__item-text">
                      <p>
                        В настоящий момент мы осуществляем только самовывоз заказа из офиса. В ближайшее время
                        появится курьерская доставка по Казани.
                        Срок поставки товара 1 день - означает, что товар доступен на локальном складе. Товар с этим
                        сроком, перемещается текущим либо следующим днем, зависит от времени создания,
                        согласования или оплаты заказа.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Loader from "~/components/Loader.vue";
import BasketPrice from "~/components/BasketPrice";

export default {
  name: "Delivery",
  head: {
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Доставка со склада за 1 день. 🚀 Zapchasti-Express  - бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
      }
    ],
    title: "Доставка за 1 день в Казани - 🚘 zapchasti-express – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
  },
  components: {
    Loader,
    BasketPrice
  },
  data() {
    return {
      loading: false
    };
  },
  mounted() {},
  computed: {},
  methods: {}
};
</script>

