<template>
  <main class="main">
    <section class="hero hero--delivery" style="background-image: url(/images/product/product-back-2.png)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">{{ h1 }}</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input"><input type="text" name="hero-search" placeholder="Поиск по артикулу или названию товара"></div>
            </div><button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="min-product inner inner--flex inner--delivery">
      <div class="container">
        <div class="min-product-header">
          <div class="row">
            <div class="col-sm-9">
              <div class="inner__top">
                <h2 class="inner__title">
                  {{h2}}
                </h2>
                <bread-crumbs v-if="!loading" :links="links"></bread-crumbs>
              </div>
            </div>
          </div>
        </div>
        <div class="min-product-content inner__content">
          <aside class="sidebar">
            <div class="sidebar__item sidebar__item-2">
              <div class="sidebar__item-head">
                <div class="sidebar__item-head-title"><span>Каталог</span></div>
              </div>
              <div class="sidebar-filter-product">
                <div class="sidebar-filter-menu">
                  <div class="sidebar-filter-menu-ul" id="sidebar-filter-menu">
                    <section-tree v-if="!this.loading"
                                  :depth="0"
                                  :modificationId="this.$route.params.id"
                                  :selectedSectionId="this.$route.params.id">
                    </section-tree>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <div class="inner__wrap">
            <div v-if="productCount > 0" class="product__content">
              <div class="products-page">
                <div class="row">
                  <div class="col-sm-4 prod-col" v-for="product in products" :key="product.id">
                    <nuxt-link :to="{name: 'product-id', params: {id: product.id, code: product.part_number}}">
                      <div class="products-list products-list-2">
                        <div class="products-list-title">
                          <h3>{{product.supplier_name}} {{product.part_number}} {{product.product_name}}</h3>
                        </div>
                        <div class="products-list-img">
                          <img :src="productImage(product)">
                        </div>
                        <div class="products-list-info">
                          <p>Доставим за 1 день</p>
                        </div>
                        <div class="products-list-price">
                          <span class="price">{{isNaN(parseFloat(product.price)) ? 'Нет в наличии' : parseFloat(product.price)+' руб'}}</span>
                          <button class="btn btn-primary btn-pr-buy">Купить</button>
                        </div>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="product__content">
              <div class="contact-form">
                <span style="margin-bottom: 15px">
                  На нашем складе данный товар закончился.
                  Давайте мы посмотрим запчасть на складе поставщика в Казани.
                  Введите свой номер телефона, мы уточним наличие и перезвоним вам.
                </span>
                <feedback-form></feedback-form>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-12">
                <div class="blog-navigation link-navigation">
                  <b-pagination-nav
                    v-if="productCount > maxProductPerPage"
                    :link-gen="pageLink"
                    :number-of-pages="productCount < maxProductPerPage ? 1 : Math.ceil(productCount / maxProductPerPage)" use-router>
                  </b-pagination-nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>

<script>
  import SectionTree from '~/components/SectionTree.vue';
  import Loader from '~/components/Loader.vue';
  import BasketPrice from "../../../../components/BasketPrice";
  import FeedbackForm from "../../../../components/FeedbackForm";
  import BreadCrumbs from "../../../../components/BreadCrumbs";

  export default {
    components: {
      BreadCrumbs,
      FeedbackForm,
      BasketPrice,
      SectionTree,
      Loader
    },
    async asyncData({route, query, store, error}) {
      let params = route.params;

      let brandDescription = route.params.auto;
      let modelDescription = route.params.model;
      let modificationDescription = route.params.modification;


      return store.dispatch('getBrand', params.auto).then(() => {

        return store.dispatch('getModel', {
          'brandId' : store.state.brand.id,
          'modelDescription': params.model
        });

      }).then(() => {

        return store.dispatch('getModification', {
          'modelId' : store.state.model.id,
          'modificationDescription': params.modification
        });

      }).then(() => {

        return store.dispatch('getProducts', {
          'modificationId' : store.state.modification.id,
          'sectionId': params.id,
          'page': query.page
        });

      }).then(() => {

        return store.dispatch('getSectionId', {
          'sectionId' : params.id,
          'modificationId': store.state.modification.id
        });

      }).then(() => {

        return store.dispatch('getModificationId', store.state.modification.id);

      }).then(() => {

        let title = `${store.state.section.description} 🚘 для ${brandDescription} ${modelDescription} ${modificationDescription} 🚘 купить в Казани - Запчасти для ${brandDescription} ${modelDescription} ${modificationDescription}`;
        let description = `Заказать по низкой цене ${store.state.section.description} на автомобиль  ${brandDescription} ${modelDescription} ${modificationDescription}. 🚘 Запчасти на все авто в наличии и под заказ с доставкой по Казани и Татарстану. Быстро и качественно - zapchasti-express.ru`;
        let h1 = `${store.state.section.description} 🚘 для ${brandDescription} ${modelDescription} ${modificationDescription} в Казани`;
        let h2 = `${store.state.section.description} для ${brandDescription} ${modelDescription} ${modificationDescription}`;

        return {
          loading: false,
          title: title,
          description: description,
          h1: h1,
          h2: h2
        }

      }).catch(e => {
        return error({ statusCode: 404, message: e });
      });
    },
    head() {
      return {
        title: this.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.description
          }
        ],
      }
    },
    data() {
      return {
        title: '',
        decription: '',
        h1: '',
        h2: '',
        loading: true,
        maxProductPerPage: 15
      }
    },
    computed: {
      page () {
        return this.$route.query.page || 1
      },
      links: function () {
        let links = [];

        let brand = this.$route.params.auto.replace(/\//g, '%2F');
        let model = this.$route.params.model.replace(/\//g, '%2F');
        let modification = this.$route.params.modification.replace(/\//g, '%2F');


        links.push({
          'id': 1,
          'name': 'Главная',
          'link': '/'
        });
        links.push({
          'id': 2,
          'name': 'Гараж',
          'link': `/${brand}/${model}/${modification}`
        });
        links.push({
          'id': 3,
          'name': this.section.description,
          'link': `/${brand}/${model}/${modification}/${this.$route.params.id}`
        });

        return links;
      },
      brand: function () {
        return this.$store.getters['getBrand'];
      },
      model: function () {
        return this.$store.getters['getModel'];
      },
      modification: function () {
        return this.$store.getters['getModification'];
      },
      section: function () {
        return this.$store.getters['getSection'];
      },
      products: function () {
        let items = this.$store.getters['getProducts'];
        delete items.count;

        return items;
      },
      productCount: function () {
        return this.$store.getters['getProductCount'] ? this.$store.getters['getProductCount'] : 1;
      },
      carInfo: function () {
        return this.$store.getters['getCarInfo'];
      }
    },
    created() {


    },
    mounted() {},
    methods: {
      pageLink(pageNum) {
        return {
          path: `?page=${pageNum}`
        }
      },
      productImage(product) {
        let image = product.images ? product.images[0] && product.images[0].PictureName : '';
        let ext = image ? image.split('.')[1] : '';
        if(image && (ext === 'PNG' || ext === 'png' || ext === 'jpg' || ext === 'JPG')) {
          return `${this.$store.getters['getBaseUrl']}/auto/${image.split('_')[0]}/${image.split('.')[0]}.${ext.toLowerCase()}`;
        } else {
          return '/images/logo.png';
        }
      }
    },
    watch: {
      page() {
        this.loading = true;
        let route = this.$route.params;
        let query = this.$route.query;

        this.$store.dispatch('getProducts', {
          'modificationId' : this.modification.id,
          'sectionId': route.id,
          'page': query.page
        }).then(() => {

          this.loading = false

        }).catch(error => {
          return this.$nuxt.error({ statusCode: 404, message: error });
        });

      }
    }
  }
</script>

<style lang="scss">
  .products-list-title {
    h3 {
      height: 72px;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 700;
    }
  }
  .products-list-img {
    max-height: 199px;
    height: 199px;
    overflow: hidden;

  }
  .products-list-2 {
    height: 468px;

  }
  @media screen  and (max-width: 1000px){
    .products-list-img{
      height: 100px;
    }
    .products-list-2 {
      height: 400px;
    }
  }
</style>

