<template>
  <main class="main">
    <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">{{ h1Title }}</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input">
                <input
                  type="text"
                  name="hero-search"
                  placeholder="Поиск по артикулу или названию товара"
                />
              </div>
            </div>
            <button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="garage-catalog inner inner--flex inner--delivery">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="inner__top">
              <h2 class="inner__title">{{ title }}</h2>
              <bread-crumbs :links="links"></bread-crumbs>
            </div>
          </div>
        </div>
        <div class="row" v-for="section in sections" :key="section.parent.id + Math.random()">
          <div class="col-sm-12">
            <div class="garage-catalog-title">
              <h4>{{section.parent.description}}</h4>
            </div>
            <div class="row">
              <div
                class="col-sm-2"
                v-for="child in section.children"
                :key="child.parent.id"
                @click="routeToChildrenProducts(child.parent.passangercarid, child.parent.number)"
              >
                <div class="garage-catalog-product">
                  <h3>{{child.parent.description}}</h3>
                  <div class="garage-catalog-product-img">
                    <img src="/images/logo.png" />
                  </div>
                  <button class="btn btn-primary">
                    Перейти в каталог
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>

<script>

import Loader from "~/components/Loader.vue";
import BasketPrice from "../../../../components/BasketPrice";
import BreadCrumbs from "../../../../components/BreadCrumbs";

export default {
  components: {
    BreadCrumbs,
    BasketPrice,
    Loader
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description
        }
      ],
    };
  },
  data() {
    return {
      loading: true,
      title: "",
      h1Title: '',
      description: ''
    };
  },
  computed: {
    links: function () {
      let links = [];

      links.push({
        'id': 1,
        'name': 'Главная',
        'link': '/'
      });

      links.push({
        'id': 2,
        'name': 'Гараж',
        'link': `/${this.$route.params.auto}/${this.$route.params.model}/${this.$route.params.modification}`
      });

      return links;
    },
    sections: function () {
      return this.$store.getters['getSections'];
    }
  },
  created() {
    let brandDescription = this.$route.params.auto;
    let modelDescription = this.$route.params.model;
    let modificationDescription = this.$route.params.modification;

    this.title = `Автозапчасти ${brandDescription} ${modelDescription} ${modificationDescription} 🚘 купить в Казани - Запчасти для ${brandDescription} ${modelDescription} ${modelDescription}`;
    this.h1Title = `Автозапчасти ${brandDescription} ${modelDescription} ${modificationDescription} в Казани`;
    this.description = `Заказать по низкой цене на автомобиль ${brandDescription} ${modelDescription} ${modificationDescription}. 🚘 Запчасти на все авто в наличии и под заказ с доставкой по Казани и Татарстану. Быстро и качественно - zapchasti-express.ru`;

    this.$store.dispatch('getSections', {
      'brandDescription': brandDescription,
      'modelDescription': modelDescription,
      'modificationDescription': modificationDescription
    }).then(() => {

      this.loading = false;

    }).catch(error => {
      return this.$nuxt.error({ statusCode: 404, message: error })
    })
  },
  mounted() {},
  methods: {
    routeToChildrenProducts(sectionChildId, parentId) {

      let manufacturer = this.$route.params.auto.replace(/\//g, '%2F');
      let model = this.$route.params.model.replace(/\//g, '%2F');
      let modification = this.$route.params.modification.replace(/\//g, '%2F');

      this.$router.push(
        `/${manufacturer}/${model}/${modification}/${parentId}`
      );
    }
  }
};
</script>

<style>
  .garage-catalog-product h3 {
    font-size: 14px;
    text-align: center;
    color: #1d1d1d;
    text-decoration: underline;
    min-height: 36px;
}
</style>

