$tr: .25s all ease-in
$red: #cb1300
$accent: #e62e04
$text: #333333
$blue: #465577

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116


*,
*:before,
*:after
  padding: 0
  margin: 0
  box-sizing: border-box
  appearance: none
  &:focus
    outline: none

select
  display: none

ul
  list-style-type: none

body
  font-size: 16px
  font-family: 'Roboto', sans-serif
  font-feature-settings: 'kern'
  -webkit-font-smoothing: antialiased
  font-weight: 400
  color: $text

a
  color: inherit
  transition: $tr
  &:hover
    color: inherit
    text-decoration: none

.header,
.main,
.footer
  width: 100%

.hidden
  display: none !important

.page
  min-height: 100vh
  position: relative

.main
  flex: 1

html
  font-size: 16px
  text-size-adjust: 100%

html, body
  overflow-x: hidden

button
  cursor: pointer
  font-family: inherit
  font-size: 100%

textarea
  resize: none
  width: 100%
  height: 100%

input,
textarea
  font-family: 'Roboto', sans-serif
  font-size: 15px
  font-weight: 400
  color: $text
  &::-webkit-input-placeholder
    font-size: 15px
    color: #7b7b7b
    font-family: 'Roboto'
    font-weight: 400
  &::-moz-placeholder
    font-size: 15px
    color: #7b7b7b
    font-family: 'Roboto'
    font-weight: 400
  &:-ms-input-placeholder
    font-size: 15px
    color: #7b7b7b
    font-family: 'Roboto'
    font-weight: 400
  &:-moz-placeholder
    font-size: 15px
    color: #7b7b7b
    font-family: 'Roboto'
    font-weight: 400

input[type="submit"]
  cursor: pointer

.inline-flex
  display: -webkit-inline-flex
  display: -moz-inline-flex
  display: -ms-inline-flex
  display: -o-inline-flex
  display: inline-flex

.flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

.ai-s
  align-items: stretch

.ai-c
  align-items: center

.ai-fs
  align-items: flex-start

.ai-b
  align-items: baseline

.ai-fe
  align-items: flex-end

.jc-sb
  justify-content: space-between

.jc-sa
  justify-content: space-around

.jc-fe
  justify-content: flex-end

.jc-fs
  justify-content: flex-start

.jc-c
  justify-content: center

.fd-c
  flex-direction: column

.fw-w
  flex-wrap: wrap

.btn
  border: 0
  background-color: $accent
  font-family: 'Roboto', sans-serif
  font-size: 1em
  color: #ffffff
  line-height: 1.2
  padding: 0
  transition: $tr
  display: inline-block
  letter-spacing: 0.02em
  &:hover
    color: #fff
    background-color: $red
  &.btn--blue
    background-color: #3e4354
    &:hover
      background-color: lighten(#3e4354, 5%)
  &.btn--upper
    text-transform: uppercase
    font-size: 1.125em
    font-weight: 700


.form
  &__group
    position: relative
    &-label
      display: block
    &-input
      display: block
      input
        padding: 18px 22px
        border: 1px solid #c8c8c8
        border-radius: 2px
        width: 100%
    &-message
      font-size: .8em
      color: red
      margin-top: .2rem
      text-align: left

.checkbox
  position: relative
  padding-left: 22px
  cursor: pointer
  display: inline-block
  input
    display: none
    &:checked + span
      &:before

      &:after

  span
    transition: $tr
    &:before
      content: ''
      display: inline-block
      position: absolute
      transition: $tr
    &:after
      content: ''
      display: inline-block
      position: absolute
      transition: $tr

.radio
  position: relative
  padding-left: 22px
  cursor: pointer
  display: inline-block
  input
    display: none
    &:checked + span
      &:before

      &:after
  span
    transition: $tr
    &:before
      content: ''
      display: inline-block
      position: absolute
      transition: $tr
    &:after
      content: ''
      display: inline-block
      position: absolute
      transition: $tr


.header
  &__bottom
    background-color: #1e232e
  &__nav
    ul
      margin-bottom: 0
      display: flex
      justify-content: space-between
      color: #ffffff
      font-weight: 300
      line-height: 20px
      font-size: 0.9375em
      li, a
        display: inline-flex
      a
        align-items: center
        padding-left: 10px
        padding-right: 10px
        justify-content: center
      li
        position: relative
        text-align: center
        &:not(:first-child):hover
          a
            background-color: #282e3a
        &:before
          display: inline-block
          a
            padding-top: 1rem
            padding-bottom: 1rem
            width: 9.375rem
          &:before,
          &:after
            display: none
        &:last-child
          &:after
            display: inline-block
            right: 0
            left: auto

  &__logo
    img
      display: block
      max-width: 100%
      height: auto
  &__contacts
    display: flex
    justify-content: flex-end
    &-cta
      width: 220px
      color: #465577
      font-size: 1em
      border-bottom: 1px solid #465577
      display: inline-block
      position: relative
      top: 20px
      line-height: 1
      &:hover
        text-decoration: none
    &-left
      margin-right: 1.5rem
    &-address
      width: 215px
      display: flex
      line-height: 18px
      margin-left: 3px
      font-size: .875em
      font-weight: 500
      .header__contacts-icon
        margin-right: .5rem
        margin-top: 3px
    &-icons
      margin-right: 0.375rem
      display: flex
    &-icon
      &:not(:last-of-type)
        margin-right: 3px
    &-top
      display: flex
      align-items: center
    &-phone
      white-space: nowrap
      font-size: 1.125em
      font-weight: 700
      &:hover
        color: $accent
    &-icon
      i
        display: inline-block
        height: 1.5rem
        img
          height: 100%
          width: auto
          display: block
  &__top
    letter-spacing: 0.02em
    padding: 10px 0
    &-nav
      ul
        margin-bottom: 0
        display: flex
        font-size: 0.9375em
        font-weight: 500
        li:not(:last-of-type)
          margin-right: 1.125rem
        a
          &:hover
            color: $accent

.hero
  background-position: center
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  color: #ffffff
  position: relative
  &.hero--delivery
    padding-top: 9.6875rem
    padding-bottom: 14.3rem
    .hero__title
      margin-bottom: 10px
  &.hero--home
    padding: 3rem 0
    display: flex
    align-items: center
    min-height: calc(100vh - 214px)
  &__cart
    position: absolute
    right: 0
    top: 6.5rem
    background-color: #111318
    border-radius: 60px 0 0 60px
    padding: 1.75rem 1.3rem 1.75rem 2.4rem
    text-align: center
    transition: .2s all ease-in
    &:hover
      padding-right: 3rem
    &-total
      margin-bottom: 0px
      font-weight: 500
      text-transform: uppercase
      letter-spacing: 0.02em
    &-icon
      display: inline-block
      img
        width: 100%
        height: auto
        display: block
  &__title
    letter-spacing: 0.02em
    text-transform: uppercase
    font-size: 30px
    line-height: 1.16363636
  &__search
    display: inline-flex
    width: 535px
    .form__group
      flex-grow: 1
    &-btn
      padding: 1.125rem 2.125rem
      border-bottom-left-radius: 0
      border-top-left-radius: 0
    .form__group-input
      input
        padding: 1.375rem 2.125rem
        border-top-right-radius: 0
        border-bottom-right-radius: 0
    input
      font-size: 16px
      letter-spacing: 0.02em
      border: 0
      &::-webkit-input-placeholder
        font-size: 16px
        letter-spacing: 0.02em
        color: #646464
      &::-moz-placeholder
        font-size: 16px
        letter-spacing: 0.02em
        color: #646464
      &:-ms-input-placeholder
        font-size: 16px
        letter-spacing: 0.02em
        color: #646464
      &:-moz-placeholder
        font-size: 16px
        letter-spacing: 0.02em
        color: #646464

.choose
  padding: 5.625rem 0 32.2rem
  position: relative
  z-index: 1
  &:after,
  &:before
    content: ''
    display: block
    z-index: -1
    position: absolute
  &:after
    right: 0
    bottom: 9.3%
    width: 40.83%
    height: 88.07%
    background: url('/images/choose-car.jpg') no-repeat center
    background-size: contain
  &:before
    left: 0
    bottom: 15%
    height: 61.63%
    width: 33.85%
    background: url('/images/choose-left.png') no-repeat center
    background-size: contain
  &__title
    font-size: 2.5rem
    font-weight: 700
    line-height: 1.2
    margin-bottom: 0
  &__subtitle
    line-height: 1.4
    font-size: 1.25em
    font-weight: 300
    margin-bottom: 0
  &__tabs
    margin-top: 2rem
    display: flex
  &__top
    max-width: 100%
    width: 41.5625rem
  &__tab-car-wrapper
    display: flex
    flex-flow: column wrap
    max-height: 50vh
    width: 100%
  &__tab-car-wrapper-column
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    max-width: 150px
    margin-top: 15px
  &__tab
    position: relative
    &-letter
      i
        left: 0
        position: absolute
        width: 24px
        height: 24px
        line-height: 26px
        font-style: normal
        border-radius: 50%
        background-color: $accent
        color: #ffffff
        text-align: center
      span
        background-color: #e2e3e6
        border-radius: 20px
        padding: 0px 12px 0px 2.25rem

      &.choose__tab-letter
        display: inline-flex!important
      &.choose__tab-letter--even
        i
          background-color: #222732
    &:not(:last-of-type)
      margin-right: 6px
    &.choose__tab--manufacturer.light
      /*max-height: 50vh*/
      /*overflow-y: scroll*/
    &.choose__tab--manufacturer
      .choose__tab-body
        max-height: 1000px
        justify-content: flex-start
    &.choose__tab--manufacturer,
    &.choose__tab--year,
    &.choose__tab--model
      .choose__tab-body
        display: flex
        padding: 2.5rem 3.125rem 3.55rem
        border-radius: 2px
        border: 2px solid $accent
        max-height: 1000px
        justify-content: flex-start
        a
          display: block
          position: relative
          &:not(.choose__tab-letter)
            padding-left: 2.25rem
    &.choose__tab--year
      .choose__tab-body
        padding-top: 1.75rem
        padding-bottom: 1.75rem
        border-radius: 0 0 12px 12px
        box-shadow: 0px 14px 30.72px 1.28px rgba(0, 0, 0, 0.09)
        display: block
        a
          display: inline-block
    &-col
      &:not(:last-of-type)
        margin-right: 1.7rem
    &-row
      padding: 8px 4.375rem 8px 1.5rem
      display: flex
      &:nth-child(even)
        background-color: #ececec
      a:not(:last-of-type)
        margin-right: 1rem
      a:first-child
        font-weight: 700
    &-body
      position: absolute
      color: #161616
      transform: translateY(-5%)
      visibility: hidden
      opacity: 0
      background-color: #ffffff
      transition: .2s all ease-in
      top: 100%
      left: 0
      a
        transition: $tr
        letter-spacing: -0.02em
        font-weight: 300
        font-size: 0.9375em
        &:hover
          color: $accent
    &:not(.active)
      .choose__tab-body:not(.light-auto)
        display: none
    &.active
      .choose__tab-btn
        background-color: #e62e04
      .choose__tab-body
        transform: translateY(0%)
        visibility: visible
        opacity: 1
      .choose__tab-body.top-tabs
        flex-direction: column
        overflow-y: scroll
        min-width: 1300px
        flex-wrap: wrap
        max-height: 500px
      .choose__tab-body.top-tabs.models
        padding: 2.5rem 3.125rem 3.55rem
        min-width: 500px
        overflow-y: scroll
      .top-tabs-wrapper
        flex-direction: column
        min-width: 1300px
        flex-wrap: wrap
        min-height: 1000px
        display: flex
        justify-content: flex-start
      .top-tabs-wrapper.models
        min-width: unset
        min-height: unset

    &-arrow
      width: 13px
      height: 8px
      background: url('/images/arrow-down--white.png') no-repeat center
      -webkit-background-size: contain
      background-size: contain
      margin-top: 2px
    &-btn
      border-radius: 4px
      letter-spacing: 0.02em
      cursor: pointer
      font-size: 1.25em
      color: #ffffff
      font-weight: 500
      padding: 1.125rem 1rem
      min-width: 8.75rem
      display: inline-flex
      justify-content: center
      background-color: #1e232e
      align-items: center
      span
        display: inline-block
        margin-right: 8px

.type
  background: url('/images/type-bg.jpg') no-repeat center
  -webkit-background-size: cover
  background-size: cover
  padding: 5.3125rem 0
  &__inner
    text-align: center
  &__btn
    padding: 1.16rem .9375rem
    transform: translateY(-50%)
  &__tabs
    text-align: left
    .choose__tab-body
      position: initial
      opacity: 1
      visibility: visible
      transform: none
      border: 0 !important
      display: flex
      flex-direction: column
      flex-wrap: wrap
      max-width: 920px
      justify-content: space-between
    .type__tabs-button.tabs__btn:last-of-type
      display: none



.tabs
  &__top
    display: flex
    justify-content: center
  &__body
    display: none
    &.active
      display: block
  &__btn
    letter-spacing: 0.02em
    font-size: 1.125em
    text-align: center
    color: #ffffff
    cursor: pointer
    border-radius: 6px 6px 0 0
    padding: 1.375rem 1.25rem
    background-color: #3e4354
    &.active
      background-color: $accent
    &:not(:last-of-type)
      margin-right: 4px

.scroll-wrapper
  overflow: hidden !important
  padding: 0 !important
  position: relative

  > .scroll-content
    border: none !important
    box-sizing: content-box !important
    height: auto
    left: 0
    margin: 0
    max-height: none
    max-width: none !important
    overflow: scroll !important
    padding: 0
    position: relative !important
    top: 0
    width: auto !important

    &::-webkit-scrollbar
      height: 0
      width: 0

.choose__tab-body.scroll-content
  padding-bottom: 0 !important
  padding-top: 0 !important
  & > *:first-child
    padding-top: 1.8rem
  & > *:last-child
    padding-bottom: 1.8rem

.scroll-element
  display: none
  box-sizing: content-box

  div
    box-sizing: content-box

  &.scroll-x.scroll-scrollx_visible, &.scroll-y.scroll-scrolly_visible
    display: block

  .scroll-bar, .scroll-arrow
    cursor: default

.scroll-textarea
  border: 1px solid #cccccc
  border-top-color: #999999

  > .scroll-content
    overflow: hidden !important

    > textarea
      border: none !important
      box-sizing: border-box
      height: 100% !important
      margin: 0
      max-height: none !important
      max-width: none !important
      overflow: scroll !important
      outline: none
      padding: 2px
      position: relative !important
      top: 0
      width: 100% !important

      &::-webkit-scrollbar
        height: 0
        width: 0


.scrollbar-outer >
.scroll-element
  border: none
  margin: 0
  padding: 0
  position: absolute
  z-index: 10

  div
    border: none
    margin: 0
    padding: 0
    position: absolute
    z-index: 10
    display: block
    height: 100%
    left: 0
    top: 0
    width: 100%

  background-color: #ffffff

  &.scroll-x
    bottom: 0
    height: 12px
    left: 0
    width: 100%

  &.scroll-y
    height: 100%
    right: 0
    top: 0
    width: 12px

  &.scroll-x .scroll-element_outer
    height: 8px
    top: 2px

  &.scroll-y .scroll-element_outer
    left: 2px
    width: 8px

  .scroll-element_outer
    overflow: hidden

  .scroll-element_track
    background-color: #eeeeee

  .scroll-element_outer, .scroll-element_track


  .scroll-bar

    background-color: #3e4354

    &:hover
      background-color: #c2c2c2

  &.scroll-draggable .scroll-bar
    background-color: #919191

  .scroll-content
    &.scroll-scrolly_visible
      left: -12px
      margin-left: 12px

    &.scroll-scrollx_visible
      top: -12px
      margin-top: 12px

  .scroll-element
    &.scroll-x .scroll-bar
      min-width: 10px

    &.scroll-y .scroll-bar
      min-height: 10px

    &.scroll-x.scroll-scrolly_visible .scroll-element_track
      left: -14px

    &.scroll-y.scroll-scrollx_visible .scroll-element_track
      top: -14px

    &.scroll-x.scroll-scrolly_visible .scroll-element_size
      left: -14px

    &.scroll-y.scroll-scrollx_visible .scroll-element_size
      top: -14px

.popular
  background: url('/images/popular-bg.jpg') no-repeat center
  background-size: cover
  padding: 5.625rem 0 12.5rem
  letter-spacing: 0.02em
  &__title
    text-align: center
    margin-bottom: 0
    font-weight: 700
    font-size: 2.6875em
  &__category
    margin-top: 3.4375rem
    padding: 5rem 1.375rem 6.25rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    background-color: #fff
    border-radius: 2px
    &-item
      text-align: center
      width: 22.4%
      margin-bottom: 4.6875rem
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8)
        margin-bottom: 0
    &-title
      color: #1d1d1d
      font-size: 1.0625em
      margin-bottom: 0
      font-weight: 700
      line-height: 1.2
    &-links
      a
        display: block
        font-weight: 300
        font-size: .9375em
        span
          border-bottom: 1px dashed #333
        &:hover
          color: $accent
    &-icon
      height: 3.4rem
      display: inline-block
      img
        width: auto
        display: block
        height: 100%

.promotions
  background-color: #f6f6f6
  padding: 4.5rem 0 6.25rem
  &__inner
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 -2.5px -3px
  &__item
    background-position: center
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    color: #ffffff
    padding: 3.75rem 3.125rem 4.6875rem
    width: calc(50% - 5px)
    margin-left: 2.5px
    margin-right: 2.5px
    margin-bottom: 3px
    &-title
      font-size: 1.6875em
      line-height: 1.2962963
      margin-bottom: 0
      span
        font-weight: 700
        font-size: 1.18518519em
        display: block
    &-price
      margin-bottom: 0
      font-size: 1.125em
      text-transform: uppercase
      margin-top: 1.625rem
      span
        color: #ff3d11
        font-size: 1.33333333em
    &-btn
      margin-top: 2.5rem
      padding: .9375rem 3.125rem

.about
  position: relative
  z-index: 0
  &__bg
    position: absolute
    background-position: left
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    width: 50.2%
    top: 0
    left: 0
    height: 100%
    z-index: -1
  &__text,
  &__img
    width: 50%
  &__img
    background-position: right
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    right: 0
    top: 0
    bottom: 0
  &__text
    letter-spacing: 0.02em
    padding: 4.3rem 2.5rem 5.3rem 0
    color: #ffffff
    line-height: 1.625
    font-weight: 300

.footer
  background-color: #252525
  padding: 0;
  letter-spacing: 0.02em
  color: #606a7c
  &__copyright
    line-height: 1.625
  &__nav
    font-size: .9375em
    padding-left: 1.5rem
    display: flex
    &-item
      &:not(:last-of-type)
        margin-right: 2.5rem
    ul
      margin-bottom: 0
      li
        &:not(:last-of-type)
          margin-bottom: 6px


.modal
  max-width: 100%
  padding: 2.5rem 2rem 3.75rem
  height: auto
  text-align: center
  &__form
    margin-top: 2rem
    &-btn
      margin-top: 20px
      width: 100%
      padding: 1rem 8px
      letter-spacing: 0
      font-size: 1.125em
      font-weight: 300
    .form__group
      input
        text-align: left
      &:not(:last-child)
        margin-bottom: 10px
  &__title
    margin-bottom: 0
    text-transform: uppercase
    letter-spacing: 0.02em
    font-size: 1.5625em
    font-weight: 700
  &-close
    width: 16px
    height: 16px
    display: inline-block
    position: absolute
    top: 12px
    right: 12px
    svg
      width: 100%
      fill: #465577
      height: auto
  &.modal--callback
    max-width: 375px


.mobile
  &-menu
    &__sidebar
      display: none
    &__inner
      position: fixed
      height: 100%
      left: 0
      top: 0
      width: 100%
      background-color: #f5f5f5
      overflow-y: auto
      padding: 40px 60px
      transition: .38s all ease-out
      transform: translate3d(0, 0, 0) translateX(-20%)
      opacity: 0
      visibility: hidden
      z-index: 2
    &__contacts
      display: flex
      justify-content: space-between
      .header__contacts-cta
        color: $accent
        border-color: $accent
    &__divider
      padding-top: 14px
      margin-top: 14px
      border-top: 1px solid #dcdcdc
    &.active
      .mobile-menu__inner
        transform: translate3d(0, 0, 0) translateX(0%)
        opacity: 1
        visibility: visible
      .mobile-menu__close
        opacity: 1
        transform: scale(1)
        visibility: visible
        transition: .15s all ease-in .3s
    &__close
      position: fixed
      top: 47px
      opacity: 0
      transition: .15s all ease-in
      transform: scale(.75)
      visibility: hidden
      right: 11px
      width: 40px
      height: 40px
      border-radius: 50%
      background-color: #ffffff
      border: 0
      z-index: 3
      svg
        width: 50%
        height: 50%
        fill: $accent
    &__nav
      text-align: center
      letter-spacing: 0.02em
      ul
        margin-bottom: 0
      &.mobile-menu__nav--main
        font-size: 18px
        font-weight: 700
        li
          padding: 12px 16px
      &.mobile-menu__nav--additional
        font-size: 16px
        li
          padding: 7px 12px
  &-btn
    width: 36px
    height: 36px
    position: relative
    background-color: $accent
    border: 0
    border-radius: 50%
    cursor: pointer
    &__line
      position: absolute
      width: 60%
      left: 20%
      height: 2px
      background-color: #fff
      &:nth-of-type(1)
        top: 10px
      &:nth-of-type(2)
        top: 17px
      &:nth-of-type(3)
        top: 24px

.inner
  color: #191919
  &--border
    border: 1px solid #d2d3d5
    padding: 1.5rem 1.75rem
  &.inner--delivery
    padding: 3.75rem 0 7rem
  &.inner--flex
    .inner__content
      display: flex
  &__title
    font-size: 23px
    font-weight: 500
    margin-bottom: 0
    line-height: 1.2

.delivery
  &__items
    margin-top: 1.125rem
  &__item
    display: flex
    &:not(:last-of-type)
      margin-bottom: 5px
    &-info
      min-height: 12.5rem
      background-color: #f4f4f4
      padding: 1.5rem
      display: inline-flex
      align-items: center
    &-text
      font-size: 13px
      line-height: 17px
      font-weight: 300
      *:last-child
        margin-bottom: 0
    &-icon
      text-align: center
      flex-shrink: 0
      background-color: #ececec
      width: 10.75rem
      padding: 1.625rem 1.625rem
      i
        display: inline-block
        margin-top: 1.25rem
        img
          display: block
          height: auto
          max-width: 100%
    &-title
      font-size: 1.125em
      font-weight: 700
      margin-bottom: 0
  &__content
    margin-top: 5px
    &-title
      font-size: 1.125em
      font-weight: 700
      margin-bottom: 0
    &-text
      font-size: 13px
      margin-top: 10px
      font-weight: 300
      *:last-child
        margin-bottom: 0

.breadcrumbs
  margin-top: 3px
  font-size: .875em
  font-weight: 300
  color: #30759c
  display: flex
  flex-wrap: wrap
  margin-bottom: -8px
  li
    margin-right: 4px
    margin-bottom: 8px
    padding-right: 9px
    position: relative
    &:after
      content: '/'
      position: absolute
      right: 0
    &:last-of-type
      color: #1d1d1d
      margin-right: 0
      &:after
        display: none

.sidebar
  flex-shrink: 0
  margin-right: 1.875rem
  color: #191919
  width: 16.875rem
  &__item
    &-dropdown
      position: absolute
      background: #fff
      left: calc(100% - 28px)
      top: 30px
      border-radius: 2px
      border: 1px solid #d2d3d5
      width: 780px
      display: flex
      flex-wrap: wrap
      z-index: 1
      padding: 2rem 0 2.5rem
      opacity: 0
      visibility: hidden
      transition: $tr
      &-all
        margin-left: 2.625rem
        color: $accent
        font-weight: 500
        margin-top: 1.875rem
        display: inline-block
        line-height: 1
        border-bottom: 1px solid $accent
        &:hover
          color: $red
      &-links
        position: relative
        z-index: 0
        display: flex
        flex-wrap: wrap

        a
          display: inline-block
          width: 25%
          padding: 6px 2.625rem
          &:hover
            background-color: #3e4552 !important
            color: #ffffff
          &:nth-child(8n-4),
          &:nth-child(8n-5),
          &:nth-child(8n-6),
          &:nth-child(8n-7)
            background-color: #e1e1e1
    &:not(:last-of-type)
      margin-bottom: 15px
    &-list
      border: 1px solid #d2d3d5
      border-top: 0px
      border-radius: 0 0 2px 2px
      margin-bottom: 0
      padding-bottom: 3.75rem
      padding-top: 1.5rem
      &-arrow
        position: absolute
        cursor: pointer
        top: 50%
        right: 21px
        transform: translateY(-50%)
        display: inline-block
        width: 9px
        height: 9px
        background: url('/images/sidebar-arrow-down.png') no-repeat center
        background-size: contain
      li
        position: relative
        padding: 6px 28px 6px 18px
        display: flex
        font-weight: 300
        transition: $tr
        &:hover,
        &.hovered
          &:not(.sidebar__item-list--inner)
            background-color: #e1e1e1
          .sidebar__item-dropdown
            opacity: 1
            visibility: visible
        & > a
          display: flex
          align-items: center
          & > i
            display: inline-flex
            justify-content: center
            margin-right: 4px
            width: 27px
            text-align: center
            img
              display: block
              max-width: 100%
              height: auto

    &-head
      display: flex
      justify-content: space-between
      align-items: center
      background-color: #e1e1e1
      padding: 10px 13px 10px 21px
      line-height: 1
      &-burger
        background-color: transparent
        width: 16px
        height: 16px
        border: 0
        img
          display: block
          width: 100%
          height: auto
      &-title
        font-weight: 500
        font-size: 1.125em
        display: inline-flex
        align-items: center
        i
          display: inline-block
          margin-right: .75rem
          img
            display: block
            width: 100%




@media screen and (max-width: 1199px)
  .sidebar__item-dropdown
    width: 700px
  .promotions__item
    padding: 3.45rem 2.9rem 4.3rem
  .promotions__item-btn
    margin-top: 2.4rem
  .promotions__item-price
    margin-top: 1.5rem
  .popular__title
    font-size: 2.2em
  .popular
    padding: 4.5rem 0 9rem
  .choose__tab-btn
    padding: 1rem .8rem
    font-size: 16px
  .choose__tab.choose__tab--manufacturer .choose__tab-body, .choose__tab.choose__tab--model .choose__tab-body
    padding: 2rem 2.6rem
  .choose__tab-body
    max-height: 50vh
    overflow-y: auto
  .type .choose__tab-body
    border-bottom: 40px solid #fff !important
  .choose
    padding: 5rem 0 27rem
  .choose__title
    font-size: 2.2em
  .header__nav ul li:first-child a
    width: 5.2rem
  .header__nav ul
    font-size: 13px
  html, body
    font-size: 15px
  .header__contacts-address
    font-size: 12px
    line-height: 1.2
    margin-top: 3px
  .header__contacts-phone
    font-size: 15px
  .header__contacts-cta
    white-space: nowrap
  .header__contacts-cta
    font-size: 14px
    top: 0
    margin-top: 6px

  .hero__title
    font-size: 3em
  .hero__cart
    padding: 1.5rem 1.2rem 1.5rem 2.2rem



@media screen and (max-width: 991px)
  .sidebar__item-dropdown
    width: 500px
    max-height: 62vh
    overflow-y: auto
  .sidebar
    width: 14rem
  .footer
    padding: 4.2rem 0 4.5rem
  .footer__nav
    padding-left: 0
    justify-content: space-between
    margin-top: 20px
  .about__bg
    width: 100%
  .about__img
    display: none
  .about__text
    width: 100%
    padding-right: 0
    font-size: 14px
  .hero__cart-icon
    width: 40px
  .promotions__item
    padding: 3rem 2.3rem 3.65rem
  .promotions__item-btn
    margin-top: 2.2rem
  .promotions__item-price
    margin-top: 1.4rem
  .popular__category-item
    width: 31%
  .popular__category
    justify-content: space-around
  .popular__title
    font-size: 1.9em
  .popular
    padding: 3.6rem 0 7rem
  .choose
    padding: 4.8rem 0 22rem
  .choose__title
    font-size: 2em
  .choose__tab.choose__tab--manufacturer .choose__tab-body, .choose__tab.choose__tab--model .choose__tab-body
    padding: 1.8rem 2rem
  .header__contacts-address
    max-width: 200px
  .header__bottom
    display: none
  .header__contacts
    align-items: center
  .hero.hero--home
    padding-top: 7rem
    padding-bottom: 12rem
    min-height: auto
  .hero__cart-total
    font-size: 14px
  .hero__title
    font-size: 2.65em
    margin-bottom: 20px
  .hero__cart
    padding: 1.35rem 1.1rem 1.35rem 2rem
  .hero__search .form__group-input input
    padding: 1.1rem 1.8rem


@media screen and (max-width: 767px)
  .mobile-menu__sidebar
    display: block
  .mobile-menu__nav--additional.mobile-menu__divider
    border-top: 0
    margin-top: 0
  .mobile-menu__sidebar
    .sidebar__item-list
      padding-bottom: 1.5rem
    .sidebar__item-list li
      padding-right: 18px
      display: flex
      justify-content: center
    .sidebar__item-head-title
      display: flex
      justify-content: center
      width: 100%
    .sidebar__item-list-arrow,
    .sidebar__item-head-burger
      display: none
    .sidebar__item-dropdown
      display: none !important

  .sidebar
    display: none
  .hero__cart-icon
    width: 30px
  .about__text
    font-size: 13px
  .promotions__item
    padding: 2.4rem 1.9rem 2.75rem
  .promotions__item-btn
    margin-top: 2rem
    padding-left: 2.5rem
    padding-right: 2.5rem
  .promotions__item-price
    margin-top: 1.15rem
    font-size: 1em
  .promotions__item-title
    font-size: 1.25em
  .popular__category-links
    margin-top: 6px
  .popular__category
    padding-top: 3rem
    padding-bottom: 3.5rem
  .type__tabs
    .tabs__btn
      font-size: 15px
  .type
    .choose__tab-col:not(:last-of-type)
      margin-right: 0
    .choose__tab.choose__tab--manufacturer .choose__tab-body a:not(.choose__tab-letter), .choose__tab.choose__tab--model .choose__tab-body a:not(.choose__tab-letter)
      padding-right: 2.25rem
    .choose__tab.choose__tab--manufacturer .choose__tab-body, .choose__tab.choose__tab--model .choose__tab-body
      display: block
      text-align: center
      .choose__tab-letter span
        padding: 0px 12px
      .choose__tab-col
        &:not(:last-of-type)
          margin-bottom: 6px
  .choose
    padding: 4rem 0 19rem
  .choose__title
    font-size: 1.8em
  .choose__subtitle
    font-size: 1.1em
  .choose .choose__tab
    &.choose__tab--model,
    &.choose__tab--manufacturer
      .choose__tab-body
        max-width: 220px
    .choose__tab-body
      display: block
      .choose__tab-col
        &:not(:last-of-type)
          margin-bottom: 6px
      .choose__tab-col:not(:last-of-type)
        margin-right: 0

  .hero.hero--home
    padding-top: 6rem
    padding-bottom: 9rem

  .hero__cart-icon
    width: 40px
  .hero__search
    max-width: 100%
  .hero__title
    font-size: 2em
    margin-bottom: 18px
  .hero__cart-total
    font-size: 13px
    white-space: nowrap
  .hero__cart
    right: auto
    left: 50%
    transform: translateX(-50%)
    bottom: 0
    top: auto
    border-radius: 60px 60px 0 0
    padding: 1.2rem 1.9rem
    &:hover
      padding-right: 1.9rem
  .hero__search .form__group-input input
    padding-left: 1rem
    padding-right: 1rem
  .hero__title
    text-align: center
  .header__contacts-icon
    width: 20px
    img
      width: 100%
  .header__contacts-top
    flex-direction: column
  .header__contacts-icons
    margin-right: 0
    margin-bottom: 4px
  .header__contacts-cta
    font-size: 12px
    margin-top: 2px
  .mobile-btn
    margin-left: 12px
  .header__contacts-address
    text-align: center
    margin-left: 0
    max-width: 160px
    .header__contacts-icon
      display: none


@media screen and (max-width: 730px)
  .choose__tab.choose__tab--year .choose__tab-body
    min-width: 144px
    a
      display: block
      text-align: center
      &:not(:last-of-type)
        margin-right: 0
  .choose__tab-row
    display: block
    padding: 0 1rem
  .choose__tab-row:nth-child(even)
    background-color: #fff

@media screen and (max-width: 575px)
  .footer__nav-item:not(:last-of-type)
    margin-right: 1.5rem
  .popular__category-item
    width: 46%
  .popular__category-item
    margin-bottom: 3rem
    &.popular__category-item:nth-of-type(5),
    &.popular__category-item:nth-of-type(6)
      margin-bottom: 3rem
  .popular__category
    justify-content: space-between
  .header__contacts-cta
    white-space: normal
    text-align: center
    border-bottom: 0
    text-decoration: underline
  .header__contacts-phone
    font-size: 13px
  .header__contacts-left
    margin-right: 12px
  .choose__title
    font-size: 1.5em
  .choose__subtitle
    font-size: 1em
    margin-top: 6px

@media screen and (max-width: 530px)
  .hero__search input
    font-size: 14px
    &::-webkit-input-placeholder
      font-size: 14px
    &::-moz-placeholder
      font-size: 14px
    &:-ms-input-placeholder
      font-size: 14px
    &:-moz-placeholder
      font-size: 14px
  .btn.btn--upper
    font-size: 13px
  .choose__tab:not(.choose__tab--year)
    position: initial
  .choose__tab.choose__tab--year
    .choose__tab-body
      min-width: auto
      right: 0
  .choose__tabs
    position: relative
  .choose
    .choose__tab-col:not(:last-of-type)
      margin-right: 0
    .choose__tab.choose__tab--manufacturer .choose__tab-body a:not(.choose__tab-letter), .choose__tab.choose__tab--model .choose__tab-body a:not(.choose__tab-letter)
      padding-right: 2.25rem
    .choose__tab.choose__tab--manufacturer .choose__tab-body, .choose__tab.choose__tab--model .choose__tab-body
      display: block
      text-align: center
      .choose__tab-letter span
        padding: 0px 12px
    .choose__tab
      &.choose__tab--model,
      &.choose__tab--manufacturer
        .choose__tab-body
          max-width: 100%
          right: 0


@media screen and (max-width: 520px)
  .delivery__item
    flex-direction: column
  .delivery__item-icon
    width: 100%
  .delivery__item-info
    min-height: auto
  .footer__nav
    flex-wrap: wrap
    margin-bottom: -30px
  .footer__nav-item
    width: 45%
    margin-bottom: 30px
  .footer__nav-item:not(:last-of-type),
  .footer__nav-item
    margin-right: 0


@media screen and (max-width: 500px)
  .promotions__inner
    margin-left: 0
    margin-right: 0
  .promotions__item
    width: 100%
    margin-left: 0
    margin-right: 0

@media screen and (max-width: 475px)
  .garage-info
    padding: 20px
  .garage-catalog-product
    button
      &.btn
        display: block
        margin: 0 auto
        margin-top: 20px
        position: inherit
  .error-bg-img
    height: 20vh
    background-size: 100%
  .header
    .header__contacts-left,
    .header__contacts-right
      display: none
  .header__top
    .col-3
      max-width: 30%
      flex-basis: 30%
    .col-9
      flex-basis: 70%
      max-width: 70%

@media screen and (max-width: 465px)
  .choose__tab-btn
    min-width: auto


@media screen and (max-width: 450px)
  .popular__title
    font-size: 1.6em
  .popular__category-item
    width: 100%
  .popular__category-item
    &.popular__category-item:nth-of-type(7)
      margin-bottom: 3rem
  .type__tabs
    .tabs__btn
      padding: 1rem 1.1rem
      font-size: 13px

@media screen and (max-width: 400px)
  .choose__tab-btn
    font-size: 14px
  .mobile-menu__inner
    padding-left: 30px
    padding-right: 30px
  .hero__title
    font-size: 1.7em

@media screen and (max-width: 380px)
  .header__top
    .col-3
      max-width: 40%
      flex-basis: 40%
    .col-9
      flex-basis: 60%
      max-width: 60%

@media screen and (max-width: 365px)
  .choose__tab-btn
    font-size: 13px
    padding-left: 6px
    padding-right: 6px

.error-bg-img
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 100vh


.garage
  background: url('/images/prod/bg.png') no-repeat
  background-position: center
  min-height: 60vh
  background-size: 100%
  .col-sm-6
    padding: 0
.garage-info
  height: 100%
  background: #ffff
  padding: 50px
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15)
  border-radius: 5px
  border-bottom-right-radius: 0
  margin-top: 25px
  button
    &.dropdown-toggle
      max-width: 460px
      height: 60px
      background: transparent
      color: #191919
      border: 1px solid #ced4da
      padding: 18px 30px
      font-weight: 500
  .bootstrap-select
    height: auto
    margin-bottom: 15px
  a
    &.garage-info-link
      font-size: 15px
      color: #354a83
      text-decoration: underline
.garage-info-car
  margin-top: 30px
  span
    font-size: 18px
    font-weight: bold
    color: #1d1d1d
    display: block
  button
    &.btn
      height: 50px
      padding: 0 30px
      margin-top: 10px
.garage-img-car
  height: 100%
  img
    border-radius: 5px
    border-bottom-left-radius: 0
    margin-top: 25px
    height: 100%
    width: 100%
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15)
.garage-catalog
  background: #f0f0f0
.garage-catalog-title
  margin-top: 45px
  position: relative
  h4
    font-weight: bold
    &:after
      content: ""
      background-color: #e62e04
      position: absolute
      bottom: 0
      left: 0
      width: 315px
      height: 2px
.garage-catalog-sub-title
  width: 100%
  padding: 10px 15px 0 15px
.garage-catalog-product
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15)
  background: #fff
  padding: 15px
  border-radius: 3px
  min-width: 175px
  min-height: 290px
  margin-top: 15px
  transition: all 0.6s ease 0s
  &:hover
    transform: scale(1.1)
    cursor: pointer
  h6
    font-size: 14px
    text-align: center
    color: #1d1d1d
    text-decoration: underline
    min-height: 36px
  img
    width: 100%
    height: auto
    display: block
    position: absolute
    margin: auto
    left: 0
    top: 0
    bottom: 0
    right: 0
  button
    &.btn
      font-size: 14px
      padding: 12px 9px
      margin-top: 10px
      position: absolute
      bottom: 10%
.garage-catalog-product-img
  min-height: 144px
  position: relative

.hero
  &.hero--delivery
    padding-top: 9.6875rem
    padding-bottom: 14.3rem

.min-product
  background: url('/images/prod/bg.png') no-repeat
  background-position: center
  min-height: 100vh
.min-product-header
  padding-bottom: 50px
.min-product-sort
  width: 100%
  overflow: hidden
  position: relative
  border-radius: 2px
  background: #FFFFFF url('/images/select-arrow.png') right 13px center no-repeat
  select
    background: transparent
    font-size: 14px
    min-width: 240px
    height: 45px
    color: #494e4f
    padding: 0 25px
    &:valid
      background: transparent
.sidebar-filter-product
  padding: 10px 20px 0 20px
  background: #fff
  .checkbox
    width: 49%
    padding-left: 0
    input
      display: inline-block
      -moz-appearance: checkbox
      -webkit-appearance: checkbox
    label
      margin-bottom: 10px
      padding-left: 5px
    .checkbox-filter[type="checkbox"]:after
      top: -20px
      width: 16px
      height: 16px
    .checkbox-filter[type="checkbox"]:checked
      &:before
        background-image: url('/images/checkmark.png')
        background-size: 12px
        background-repeat: no-repeat
        background-position: center
  .btn-filt
    width: 130px
    height: 35px
    background: #3e4552
  .dropdown
    margin-bottom: 5px
  .dropdown-toggle
    height: calc(1.5em + .75rem + 2px)
    background: transparent
    font-size: 15px
    font-weight: bold
    color: #191919
    border: 1px solid #ced4da
    padding: 8px 15px

.sidebar-filter-product
  .checkbox
    .checkbox-filter[type="checkbox"]:before
      position: absolute
      top: 3px
      display: block
      width: 16px
      height: 16px
      content: ""
      background: #e1e1e1
.product-filt-alf
  ul
    background: #e2e2e2
    li
      display: inline-block
      width: 32.5px
      height: 30px
      text-align: center
      padding: 3px
      font-size: 15px
      font-weight: bold
      & + li
        margin-left: -.36em
  .active
    color: #fff
    background: #3e4552
  .pr-fl-bg
    background: #d2d3d5
.product-filt-a
  ul
    li
      display: inline-block
      font-size: 18px
      color: #30759c
      padding-right: 10px
.products-list
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15)
  background: #fff
  padding: 30px
  min-width: inherit
  border-radius: 5px
  transition: all 0.6s ease 0s
  transform: scale(.95)
  transform-origin: top
  margin-bottom: 10px
  &:hover
    transform: scale(1.1)
    height: 110%
    cursor: pointer
.products-list-title
  text-align: center
  font-size: 16px
  color: #1d1d1d
  span
    text-decoration: underline
.products-list-img
  img
    display: block
    margin: 20px auto
    width: 100%
    height: auto
    max-width: 75px
.products-list-2
  transform: scale(1)
  .products-list-img
    img
      max-width: 100%
  .products-list-title
    font-size: 16px
    font-weight: bold
  &:hover
    transform: scale(1)
    height: 100%
    .products-list-info-hidde
      display: block
.products-list-info
  p
    font-size: 14px
    text-align: center
    color: #616161
    text-decoration: underline
    margin-bottom: 10px
.products-list-price
  .price
    display: block
    text-align: center
    font-size: 27px
    color: #c42727
    font-weight: bold
  button
    width: 100%
    height: 35px
.link-navigation
  padding-top: 150px
.products-list-info-hidde
  position: absolute
  width: 98%
  left: 3px
  bottom: 80px
  padding: 25px 10px
  background: #f8f8f8
  border: solid 1px #b6b8bc
  border-radius: 3px
  display: none
  table
    tr
      font-size: 10px
      font-weight: 500
      td
        padding-bottom: 5px
        &:last-child
          color: #496392
          text-align: right
.sidebar__item-head
  a
    font-size: 12px
    text-decoration: underline
    color: #717171
.sidebar-filter-search
  margin-bottom: 15px
  input[type='text']
    width: 100%
    background: transparent
    border: solid 1px #f4f4f4
    padding: 5px 10px
.sidebar-filter-slid
  p
    font-size: 15px
    color: #626262
    margin: 0
    margin-top: 5px
    text-align: center
    span
      color: #e62e04
      font-weight: 500
  .slider
    -webkit-appearance: none
    width: 100%
    height: 5px
    border-radius: 5px
    background: #e1e1e1
    outline: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 15px
      height: 15px
      border-radius: 50%
      background: #505e77
      cursor: pointer
    &::-moz-range-thumb
      width: 15px
      height: 15px
      border-radius: 50%
      background: #505e77
      cursor: pointer
.sidebar__item-2
  border-radius: 3px
  border: solid 1px #d2d3d5
  .sidebar-filter-products
    margin-top: 15px
    button
      background: transparent
      border: 0
      text-align: center
      width: 100%
      margin-bottom: 20px
  .sidebar-filter-product
    .checkbox
      width: 100%
      label
        font-size: 15px
        color: #4d4d4d
        &:nth-child(3)
          float: right
.sidebar-filter-menu
  a
    font-size: 13px
    color: #262626
    font-weight: 500
  ul
    li
      font-size: 13px
      color: #3e3e3e
      margin-bottom: 3px
      ul
        padding-inline-start: 20px
.sidebar-filter-menu-ul
  margin: 10px 0 25px 0
  & > ul
    div#about-drop
      display: none
#multi-derevo
  a
    font-size: 13px
    color: #3e3e3e
    margin-bottom: 5px
    font-weight: normal
    display: inline-block
    &:before
      content: none
span
  text-decoration: none
  display: block
  background-color: transparent
  border-width: 0 0 1px 1px
  a
    display: block
    position: relative
ul, li
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  margin: 0
  padding: 0
ul
  li
    line-height: 1.2em
    ul
      display: none
      li
        margin: 0 0 0 1.2em
li
  &.last
    border: none
.marker
  content: ""
  width: 9px
  display: inline-block
  height: 9px
  margin-right: 5px
  background: transparent url('/images/prod/plus.png') no-repeat
  &.open
    background: transparent url('/images/prod/minus.png') no-repeat
.hero
  &.hero-product
    min-height: 50vh
.hero-product
  .hero__inner
    margin-bottom: 60px
  .hero__title
    text-transform: none
.product-page
  padding: 3.75rem 0 7rem
.product-main
  padding-top: 40px
.product-img
  text-align: center
  img
    width: auto
    height: auto
.product-info
  padding-top: 10px
  span
    &:first-child
      padding-right: 30px
.product-price
  span
    font-size: 36px
    color: #005495
    font-weight: bold
.product-add-to-cart,.qty-block
  position: relative
  height: 100%
.qty-input,.qty-input-2,.qty-input-3
  border: 1px solid #e6e6e6
  height: 40px
  position: relative
  width: 110px
  position: absolute
  bottom: 5.5px
.qty-input input,.qty-input-2 input,.qty-input-3 input
  border: 0px solid
  float: left
  font-size: 17px
  height: 38px
  text-align: center
  outline: none
  width: 38px
  background: #e6e6e6
.qty-input i,.qty-input-2 i,.qty-input-3 i
  cursor: pointer
  font-family: serif
  height: 40px
  float: left
  line-height: 40px
  text-align: center
  user-select: none
  transition: all 150ms ease-out
  width: 35px
.product-add-to-cart
  button
    border: 0
    height: 40px
    width: 130px
    text-align: right
    background: #e62e04
    color: #fff
    font-size: 16px
    padding: 0 20px 0 10px
    border-radius: 3px
    position: absolute
    bottom: 5.5px
    img
      position: absolute
      left: 10px
      top: 11px
      width: 16px
.product-add-to-cart button:hover,.product-footer-table tr td:last-child button:hover
  background: #bf2401
  cursor: pointer
.product-footer-table-mob
  .cart-tb-mob-head
    margin-top: 20px
.product-attribute
  table
    width: 100%
    tbody
      tr
        td
          font-size: 16px
          color: #252525
          padding-bottom: 3px
          &:first-child
            font-weight: bold
          &:last-child
            width: 65%
.product-revies
  padding-top: 13px
  button
    width: 155px
    height: 35px
    background: #3e4552
    border: 0
    color: #fff
    border-radius: 3px
  a
    color: #1b629d
    font-size: 18px
    text-decoration: underline
    align-items: center
    display: inline-grid
    height: 100%
.product-description
  padding-top: 85px
  p
    min-height: 230px
    margin-top: 20px
.product-description-button
  .tabs__btn
    width: 140px
    height: 40px
    align-items: center
    display: inline-grid
    text-align: center
    background: #f2f2f2
    margin: 0
    padding: 0
    color: #000
    font-size: 16px
    border-top: solid 2px #f2f2f2
    &.active
      border-top: solid 2px #e62e04
      color: #e62e04
      margin-right: -5px
      z-index: 999
      box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.18)
      transform: translateX(-0px)
.product-footer
  padding-top: 15px
  border: solid 1px #f2f2f2
  padding: 60px 0
  margin-top: 30px
  .title
    font-weight: 600
    font-size: 22px
    padding: 0 20px
    span
      margin-left: 30px
      background: #005495
      padding: 5px 15px
      color: #fff
.product-footer-table,.product-footer-table-last
  width: 100%
  margin-top: 20px
.product-footer-table
  tr
    &:first-child
      background: #e2e2e2
      height: 65px
      text-align: left
      font-size: 16px
      font-weight: 500
      td
        padding: 0 30px
        position: relative
.product-footer-table tr:first-child td:nth-child(3) img,
.product-footer-table tr:first-child td:last-child img,
.product-footer-table tr td:nth-child(3) img,
.product-footer-table-last tr td:nth-child(3) img
  margin-right: 10px
  margin-bottom: 5px
.product-footer-table tr td:nth-child(6),.product-footer-table-last tr td:nth-child(1),.product-footer-table-last tr td:nth-child(6)
  font-weight: 500
.product-footer-table tr td:nth-child(3),.product-footer-table-last tr td:nth-child(3)
  text-align: left
.product-footer-table tr,.product-footer-table-last tr
  background-color: #f2f2f2
  height: 65px
.product-footer-table tr td,.product-footer-table-last tr td
  padding: 0 30px
  text-align: center
.product-footer-table tr td:last-child button,.product-footer-table-last tr td:last-child button
  border: 0
  height: 40px
  width: 120px
  text-align: center
  background: #e62e04
  color: #fff
  font-size: 16px
  border-radius: 3px
.product-footer-table-last
  tr
    height: 75px
.title-last
  padding-top: 65px!important
.product-footer-text
  padding: 25px 20px 0 20px
.product-main-2
  margin-bottom: 50px
  .product-description-button
    border-bottom: solid 1px #dedede
  .tabs__btn
    height: 50px
    align-items: center
    display: inline-grid
    text-align: center
    background: #f2f2f2
    margin: 0
    padding: 10px 30px
    color: #000
    font-size: 16px
    border-top: solid 2px #f2f2f2
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    width: auto
.product-main-table
  margin-bottom: 50px
  table
    width: 100%
.product-img-2
  img
    width: 100%
    height: auto
.product-attribute-2
  table
    tbody
      tr
        td
          &:last-child
            width: 50%
.product-buy-2
  button
    background: #e7e7e7
    width: 120px
    height: 35px
    border: 0
    padding: 0 20px 0 15px
    position: relative
    text-align: left
    margin-top: 15px
    img
      position: absolute
      right: 12px
      top: 11px
    &:hover
      background: #cccccc

.blog-navigation-btn
  width: 24px
  height: 24px
  font-size: 14px

.blog-navigation
  text-align: center
  padding-top: 30px
.blog-navigation-btn
  background-color: transparent
  color: #292929
  font-size: 15px
  outline: none
  border: 1px solid #d2d3d5
  cursor: pointer
  width: 32px
  height: 32px

.blog-navigation-btn.actives,.blog-navigation-number:hover
  color: #fff
  background-color: #375a9f

.link-navigation-arrow-lf
  background: transparent
  border: 0
  margin-right: 30px
.link-navigation-arrow-rg
  background: transparent
  border: 0
  margin-left: 30px

.sidebar-filter-menu-ul
  margin: 10px 0 25px 0
  & > ul
    div#about-drop
      display: none
.sidebar-filter-menu
  ul
    li
      font-size: 13px
      color: #3e3e3e
      margin-bottom: 3px
      ul
        padding-inline-start: 20px
.sidebar-filter-search
  margin-bottom: 15px
  input[type='text']
    width: 100%
    background: transparent
    border: solid 1px #f4f4f4
    padding: 5px 10px
.sidebar-filter-slid
  p
    font-size: 15px
    color: #626262
    margin: 0
    margin-top: 5px
    text-align: center
    span
      color: #e62e04
      font-weight: 500
  .slider
    -webkit-appearance: none
    width: 100%
    height: 5px
    border-radius: 5px
    background: #e1e1e1
    outline: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 15px
      height: 15px
      border-radius: 50%
      background: #505e77
      cursor: pointer
    &::-moz-range-thumb
      width: 15px
      height: 15px
      border-radius: 50%
      background: #505e77
      cursor: pointer
.sidebar__item-2
  border-radius: 3px
  border: solid 1px #d2d3d5
  .sidebar-filter-products
    margin-top: 15px
    button
      background: transparent
      border: 0
      text-align: center
      width: 100%
      margin-bottom: 20px
  .sidebar-filter-product
    .checkbox
      width: 100%
      label
        font-size: 15px
        color: #4d4d4d
        &:nth-child(3)
          float: right
.sidebar-filter-menu
  a
    font-size: 13px
    color: #262626
    font-weight: 500


span
  text-decoration: none
  display: block
  background-color: transparent
  border-width: 0 0 1px 1px
  a
    display: block
    position: relative
ul, li
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  margin: 0
  padding: 0
ul
  li
    line-height: 1.2em
    ul
      display: none
      li
        margin: 0 0 0 1.2em
li
  &.last
    border: none
.marker
  content: ""
  width: 9px
  display: inline-block
  height: 9px
  margin-right: 5px
  background: transparent url('/images/prod/plus.png') no-repeat
  &.open
    background: transparent url('/images/prod/minus.png') no-repeat

.product-page
  padding: 3.75rem 0 7rem

.product-page
  .inner__title
    font-size: 18px

.cart-tb-mob,.product-footer-table-mob
  display: none

.hero
  &.hero-product
    min-height: 50vh
.hero-product
  .hero__inner
    margin-bottom: 60px
  .hero__title
    text-transform: none
.product-page
  padding: 3.75rem 0 7rem
.product-main
  padding-top: 40px
.product-img
  text-align: center
  img
    width: auto
    height: auto
.product-info
  padding-top: 10px
  span
    &:first-child
      padding-right: 30px
.product-price
  span
    font-size: 36px
    color: #005495
    font-weight: bold
.product-add-to-cart,.qty-block
  position: relative
  height: 100%
.qty-input,.qty-input-2,.qty-input-3
  border: 1px solid #e6e6e6
  height: 40px
  position: relative
  width: 110px
  position: absolute
  bottom: 5.5px
.qty-input input,.qty-input-2 input,.qty-input-3 input
  border: 0px solid
  float: left
  font-size: 17px
  height: 38px
  text-align: center
  outline: none
  width: 38px
  background: #e6e6e6
.qty-input i,.qty-input-2 i,.qty-input-3 i
  cursor: pointer
  font-family: serif
  height: 40px
  float: left
  line-height: 40px
  text-align: center
  user-select: none
  transition: all 150ms ease-out
  width: 35px
.product-add-to-cart
  button
    border: 0
    height: 40px
    width: 130px
    text-align: right
    background: #e62e04
    color: #fff
    font-size: 16px
    padding: 0 20px 0 10px
    border-radius: 3px
    position: absolute
    bottom: 5.5px
    img
      position: absolute
      left: 10px
      top: 11px
      width: 16px
.product-add-to-cart button:hover,.product-footer-table tr td:last-child button:hover
  background: #bf2401
  cursor: pointer
.product-footer-table-mob
  .cart-tb-mob-head
    margin-top: 20px
.product-attribute
  table
    width: 100%
    tbody
      tr
        td
          vertical-align: top;
          font-size: 16px
          color: #252525
          padding-bottom: 7px
          &:first-child
            font-weight: bold
          &:last-child
            width: 65%
.product-revies
  padding-top: 13px
  button
    width: 155px
    height: 35px
    background: #3e4552
    border: 0
    color: #fff
    border-radius: 3px
  a
    color: #1b629d
    font-size: 18px
    text-decoration: underline
    align-items: center
    display: inline-grid
    height: 100%
.product-description
  padding-top: 85px
  p
    min-height: 230px
    margin-top: 20px
.product-description-button
  .tabs__btn
    width: 140px
    height: 40px
    align-items: center
    display: inline-grid
    text-align: center
    background: #f2f2f2
    margin: 0
    padding: 0
    color: #000
    font-size: 16px
    border-top: solid 2px #f2f2f2
    &.active
      border-top: solid 2px #e62e04
      color: #e62e04
      margin-right: -5px
      z-index: 999
      box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.18)
      transform: translateX(-0px)
.product-footer
  border: solid 1px #f2f2f2
  padding: 60px 0
  padding-top: 15px

  .title
    font-weight: 600
    font-size: 22px
    padding: 0 20px
    span
      margin-left: 30px
      background: #005495
      padding: 5px 15px
      color: #fff
.product-footer-table,.product-footer-table-last
  width: 100%
  margin-top: 20px
.product-footer-table
  tr
    &:first-child
      background: #e2e2e2
      height: 65px
      text-align: left
      font-size: 16px
      font-weight: 500
      td
        padding: 0 30px
        position: relative
.product-footer-table tr:first-child td:nth-child(3) img,
.product-footer-table tr:first-child td:last-child img,
.product-footer-table tr td:nth-child(3) img,
.product-footer-table-last tr td:nth-child(3) img
  margin-right: 10px
  margin-bottom: 5px
.product-footer-table tr td:nth-child(6),.product-footer-table-last tr td:nth-child(1),.product-footer-table-last tr td:nth-child(6)
  font-weight: 500
.product-footer-table tr td:nth-child(3),.product-footer-table-last tr td:nth-child(3)
  text-align: left
.product-footer-table tr,.product-footer-table-last tr
  background-color: #f2f2f2
  height: 65px
.product-footer-table tr td,.product-footer-table-last tr td
  padding: 0 30px
  text-align: center
.product-footer-table tr td:last-child button,.product-footer-table-last tr td:last-child button
  border: 0
  height: 40px
  width: 120px
  text-align: center
  background: #e62e04
  color: #fff
  font-size: 16px
  border-radius: 3px
.product-footer-table-last
  tr
    height: 75px
.title-last
  padding-top: 20px!important

.contact--border,.news--border
  border: 1px solid #d2d3d5
.contact-info
  a
    width: 100%
    display: block
    font-size: 18px
    font-weight: bold
  span
    font-size: 14px
    font-weight: 500
.contact-info,.cart__content
  padding: 1.5rem 1.75rem
.contact-form
  padding-top: 40px
  padding: 1.5rem 1.75rem
  p
    font-size: 15px
    &:last-child
      margin: 20px 0 50px 0
      font-size: 14px
      font-weight: 400
  form
    input
      max-width: 400px
      height: 50px
      margin-bottom: 5px
    button
      width: 160px
      height: 50px
      margin-top: 5px

.header__bottom
  background-color: #1e232e
.header__nav
  ul
    margin-bottom: 0
    display: -webkit-box
    display: -webkit-flex
    display: -moz-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -webkit-justify-content: space-between
    -moz-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    color: #ffffff
    font-weight: 300
    line-height: 20px
    font-size: 0.9375em
    a
      -webkit-box-align: center
      -webkit-align-items: center
      -moz-box-align: center
      -ms-flex-align: center
      align-items: center
      padding-left: 10px
      padding-right: 10px
      -webkit-box-pack: center
      -webkit-justify-content: center
      -moz-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      span
        font-size: 14px
        line-height: 16px
        padding: 14px 0
    li
      position: relative
      text-align: center
      &:not(:first-child):hover
        a
          background-color: #282e3a
          background-color: transparent
      &:before
        display: inline-block
        &:hover
          .catalog-sub-menu
            display: block!important
      &:hover
        background-color: #cb1300
        .sub-menu
          display: block!important
          ul
            &:hover
              a
                background-color: transparent
      &:last-child
        &:after
          display: inline-block
          right: 0
          left: auto
  li
    &:nth-child(5)
      .sub-menu
        left: -86px
    &:nth-child(8)
      .sub-menu
        right: 0
    &:nth-child(9)
      .sub-menu
        right: 0
    &:nth-child(11)
      .sub-menu
        right: 0
.header__nav ul li, .header__nav ul a
  display: -webkit-inline-box
  display: -webkit-inline-flex
  display: -moz-inline-box
  display: -ms-inline-flexbox
  display: inline-flex
.catalog-sub-menu
  display: none!important
  position: absolute
  min-width: 250px
  top: 60px
  border: none
  z-index: 1
  visibility: initial
  opacity: 1
  transform: none
  text-align: left
  background: #fff
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  padding-bottom: 30px
  .catalog-sub-menu-title
    font-weight: 500
    font-size: 18px
    color: #191919
    background-color: #e1e1e1
    padding: 10px 20px 10px 25px
    margin-bottom: 10px
    position: relative
  li
    &:hover
      a
        background-color: transparent!important
        text-decoration: none
.catalog-sub-menu i,.sub-menu i
  margin-right: 10px
.catalog-sub-menu li,.sub-menu li
  position: relative
  display: block!important
  text-align: left!important
  padding: 10px 20px 10px 25px
.catalog-sub-menu li a,.sub-menu li a
  width: 100%!important
  display: initial
  font-size: 15px
  color: #191919
  padding: 0
.catalog-sub-menu li:before,.catalog-sub-menu li:after
  display: none!important
.catalog-sub-menu li:hover,.sub-menu ul li:hover
  background-color: #e1e1e1!important
  text-decoration: underline
  cursor: pointer
  text-decoration: none
.sub-menu
  display: none!important
  position: absolute
  min-width: max-content
  top: 44px
  border: none
  z-index: 1
  visibility: initial
  opacity: 1
  transform: none
  text-align: left
  background: #fff
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.29)
  border-top: solid 3px #cb1300
  ul
    display: block
    li
      min-width: 250px
      &:first-child
        background-color: transparent
      a
        font-size: 14px
        font-weight: 400
.sub-menu ul li:before, .sub-menu ul li:after
  content: none
.sub-menu-title
  font-size: 18px
  font-weight: bold
  color: #333333
  padding: 20px 20px 10px 20px
.header__nav ul li:first-child:before, .header__nav ul li:first-child:after
  display: none

.cart-title
  h3
    margin-bottom: 40px
  h4
    margin-bottom: 20px
.inner__wrap
  width: 100%
.cart-table
  margin-bottom: 10px
.cart-tb-mob,.product-footer-table-mob
  display: none
.cart-tb
  table
    width: 100%
    display: block
    tr:first-child
      th
        vertical-align: inherit
        font-size: 15px
        background-color: #f2f2f2
        border-right: solid 1px #d9d9d9
        border-bottom: 1px solid #dee2e6
        text-align: center
        font-weight: normal
        padding: 10px 36px
    tr
      td
        img
          height: auto
          max-height: 100px
          width: 100%
          max-width: 200px
          display: block
          margin: 0 auto
    tbody
      tr
        border-bottom: solid 1px #f2f2f2
        td
          text-align: center
          padding: 10px 10px
          font-weight: normal!important
.table td, .table th
  vertical-align: middle
  border-top: none
  text-align: center
.cart-tb .qty-block .qty-input,.cart-tb .qty-block-2 .qty-input-2,.cart-tb .qty-block-3 .qty-input-3
  position: initial
  margin: 0 auto
.cart-total
  h4
    text-align: right
    font-size: 18px
    margin: 20px 0
    span
      font-size: 20px
      color: #e62e04
.cart-form
  label
    font-size: 15px
    font-weight: bold
    margin: 10px 0
  input
    margin-bottom: 5px
  textarea
    padding: .375rem .75rem
    border: 1px solid #ced4da
    border-radius: .25rem
  form
    button
      width: 160px
      height: 35px
      margin-top: 10px
.cart-form input,.cart-form select
  height: 49px
.cart-map
  margin-top: 90px

@media screen and (max-width: 991px)
  .cart-tb,.product-footer-table,.product-footer-table-last
    display: none
  .cart-tb-mob,.product-footer-table-mob
    display: block
  .cart-tb-mob table,.product-footer-table-mob table
    width: 100%
  .cart-tb-mob-head
    vertical-align: inherit
    font-size: 15px
    background-color: #f2f2f2
    border-right: solid 1px #d9d9d9
    border-bottom: 1px solid #dee2e6
    text-align: center
    font-weight: normal
    width: 100%
    padding: 5px
    span
      font-weight: 600
  .cart-tb-mob tbody tr,.product-footer-table-mob tbody tr
    border-bottom: solid 1px #f2f2f2
  .cart-tb-mob tbody tr th,.product-footer-table-mob tbody tr th
    text-align: center
    padding: 15px 0
    font-weight: normal
    position: relative
  .cart-tb-mob
    tbody
      tr
        &:last-child
          th
            img
              position: absolute
  .product-footer-table-mob
    tbody
      tr
        th
          button
            border: 0
            height: 40px
            width: 120px
            text-align: center
            background: #e62e04
            color: #fff
            font-size: 16px
            border-radius: 3px
  .table-img
    img
      display: block
      margin: 0 auto
  .cart-tb-mob table .qty-input, .cart-tb-mob table .qty-input-2, .cart-tb-mob table .qty-input-3
    top: 5px
    right: 0


.modal
  max-width: 100%
  padding: 2.5rem 2rem 3.75rem
  height: auto
  text-align: center
  &.modal--callback
    max-width: 375px
.modal__form
  margin-top: 2rem
  .form__group
    input
      text-align: left
    &:not(:last-child)
      margin-bottom: 10px
.modal__form-btn
  margin-top: 20px
  width: 100%
  padding: 1rem 8px
  letter-spacing: 0
  font-size: 1.125em
  font-weight: 300
.modal__title
  margin-bottom: 0
  text-transform: uppercase
  letter-spacing: 0.02em
  font-size: 1.5625em
  font-weight: 700
.modal-close
  width: 16px
  height: 16px
  display: inline-block
  position: absolute
  top: 12px
  right: 12px
  svg
    width: 100%
    fill: #465577
    height: auto

@media screen and (max-width: 365px)
  .choose__tab-btn
    font-size: 13px
    padding-left: 6px
    padding-right: 6px
  .product-footer .title,.product-revies a
    font-size: 13px
  .blog-navigation-btn
    width: 20px
    height: 20px
    font-size: 12px

.hero__search
  display: none

b, strong
  font-weight: bold

.footer
  .sec1
    padding: 30px 0 0 0;
    margin-bottom: 30px;
  .sec2
    padding: 20px 0 20px 0;
    width: inherit;
    background: #202020;
  .footer__copyright
    p
      width: 400px;
  .footer_contact
    h3
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px;
    p
      margin-bottom: 10px;
      span
        color: #fff;
        display: inline-block;
        margin-right: 3px;
