<template>
    <main class="main">
        <loader v-if="loading"></loader>
        <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg);">
            <basket-price></basket-price>
            <div class="container">
                <div class="hero__inner">
                    <h1 class="hero__title">
                        Политика конфиденциальности
                    </h1>
                </div>
            </div>
        </section>
        <section class="inner inner--flex inner--delivery">
            <div class="container">
                <div class="inner__content">
                    <aside class="sidebar">
                        <div class="sidebar__item">
                            <div class="sidebar__item-head">
                                <div class="sidebar__item-head-title">
                                    <i>
                                        <img src="/images/info.png" alt="alt" />
                                    </i>
                                    <span>Информация</span>
                                </div>
                                <button class="sidebar__item-head-burger">
                                    <img src="/images/burger.png" alt="alt" />
                                </button>
                            </div>
                            <ul class="sidebar__item-list">
                                <li>
                                    <nuxt-link to="/delivery">
                                        <i>
                                            <img src="/images/list.png" alt="alt" />
                                        </i>
                                        <span>Доставка</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link to="/payment">
                                        <i>
                                            <img src="/images/list.png" alt="alt" />
                                        </i>
                                        <span>Оплата</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link to="/contact">
                                        <i>
                                            <img src="/images/list.png" alt="alt" />
                                        </i>
                                        <span>Контакты</span>
                                    </nuxt-link>
                                </li>
                                <li><nuxt-link to="/guarantees"><i><img src="/images/list.png" alt="alt"></i><span>Гарантии и возврат</span></nuxt-link></li>
                            </ul>
                        </div>
                    </aside>
                    <div class="inner__wrap">
                        <div class="inner__top">
                            <h1 class="inner__title">
                                Политика конфиденциальности
                            </h1>
                            <ul class="breadcrumbs">
                                <li>
                                    <nuxt-link to="/">Главная</nuxt-link>
                                </li>
                                <li>
                                    <a>Политика конфиденциальности</a>
                                </li>
                            </ul>
                        </div>
                        <div class="delivery__content inner--border">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    import Loader from "~/components/Loader.vue";
    import BasketPrice from "~/components/BasketPrice";

    export default {
        name: "Policy",
        head: {
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Политика конфиденциальности. 🚀 Zapchasti-Express  - бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
                }
            ],
            title: "Политика конфиденциальности - 🚘 zapchasti-express – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
        },
        components: {
            Loader,
            BasketPrice
        },
        data() {
            return {
                loading: false
            };
        },
        mounted() {},
        computed: {},
        methods: {}
    };
</script>


