<template>
    <div id="app_cookie" v-if="isView">
        <p>
            Сайт использует файлы cookie и формы заявок для сбора данных.<br/>
            Продолжая пользоваться сайтом, вы даете согласие на
            <a href="/politic.pdf" download="politic">
                Политику конфиденциальности
            </a> и
            <a href="/user.pdf" download="user">
                Пользовательское соглашение.
            </a>

        </p>
        <div class="close">
            <a href="#" @click.prevent="close">
                <span>
                    X
                </span>
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'AppCookie',
        components: {

        },
        data() {
            return {
                isView: false
            };
        },
        mounted() {
            if(this.$cookie.get('app_cookie')) {
                $('#app_cookie').css('display', 'none');
                this.isView = false;
            } else {
                this.isView = true;
            }
        },
        methods: {
            close() {
                this.$cookie.set('app_cookie', 1);
                $('#app_cookie').css('display', 'none');
            }
        }
    }
</script>

<style lang="sass">
    #app_cookie
        position: fixed
        bottom: 0
        left: 50%
        margin: 0 0 0 -500px
        width: 960px
        height: 80px
        padding: 20px
        background: #0480df
        opacity: 0.9
        color: #fff
        p
            font-size: 14px
            color: #fff
        .close
            a
                font-size: 30px
                position: absolute
                right: 10px
                top: 10px
                width: 30px
                height: 30px
                color: #fff
                text-decoration: none
            span
                text-decoration: none
                color: #fff
                font-size: 30px
                cursor: pointer
                -webkit-transition: all .2s ease-out
                transition: all .2s ease-out
                font-weight: 300
</style>
