<template>
  <footer class="footer">
      <div class="sec1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="footer__copyright">
                        <p>
                            Запчасти экспресс - это интернет магазин автозапчастей
                            в Казани по низким ценам, с доставкой за 1 день.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="footer_contact">
                        <h3>
                            Контаты
                        </h3>
                        <p>
                            <span>
                                Адрес
                            </span>
                            г. Казань, ул. Волгоградская 3
                        </p>
                        <p>
                            <span>
                                Телефон 8 (843) 207-19-97
                            </span>
                        </p>
                        <p>
                            <span>
                                email
                            </span>
                            <a href="mailto:zapchasti-express.ru@yandex.ru">
                                zapchasti-express.ru@yandex.ru
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="sec2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <p>
                        Все права защищены {{new Date().getFullYear()}}
                    </p>
                </div>
                <div class="col-6">
                    <a href="/politic.pdf" download="politic">
                        Политику конфиденциальности
                    </a> и
                    <a href="/user.pdf" download="user">
                        Пользовательское соглашение.
                    </a>
                </div>
            </div>
        </div>
      </div>
</footer>

</template>
<script>
  export default {
    name: 'AppFooter',
    components: {

    }
  }
</script>
<style lang="sass">

</style>
