<template>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-2 col-3">
            <a class="header__logo" href="/">
              <img src="/images/logo.png" alt="Logo" />
            </a>
          </div>
          <div class="col d-none d-lg-block">
            <nav class="header__top-nav">
              <ul>
                <li>
                  <nuxt-link to="/delivery">Доставка</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/payment">Оплата</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/contact">Контакты</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/guarantees">Гарантия</nuxt-link>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-5 col-9">
            <div class="header__contacts">
              <div class="header__contacts-left">
                <div class="header__contacts-top">

                </div>
                <a
                  class="header__contacts-cta"
                  href="#"
                  @click="toggleCallBackModal($event)"
                >Заказать обратный звонок</a>
              </div>
              <div class="header__contacts-right">
                <div class="header__contacts-top">
                  <div class="header__contacts-icons">
                    <i class="header__contacts-icon">
                      <img src="/images/phone.png" alt="phone" />
                    </i>
                  </div>
                  <a class="header__contacts-phone" href="tel:+78432071997">
                    8 (843) 207-19-97
                  </a>
                </div>
                <div class="header__contacts-address">
                  <i class="header__contacts-icon">
                    <img src="/images/location.png" alt="location" />
                  </i>
                  <span>г. Казань, ул. Волгоградская 3</span>
                </div>
              </div>
              <button
                class="mobile-btn d-md-inline-block d-lg-none"
                id="menu-open"
                @click="openMenu()"
              >
                <span class="mobile-btn__line"></span>
                <span class="mobile-btn__line"></span>
                <span class="mobile-btn__line"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <call-back-modal v-if="showCallBack" @closeModal="toggleCallBackModal"></call-back-modal>
  </header>
</template>
<script>
import CallBackModal from "~/components/CallBackModal.vue";
export default {
  name: "AppHeader",
  components: {
    CallBackModal
  },
  data() {
    return {
      showCallBack: false
    };
  },
  methods: {
    toggleCallBackModal(event) {
      if (event) {
        event.preventDefault();
      }
      this.showCallBack = !this.showCallBack;
    },
    openMenu() {
      this.$store.commit("setMobileMenuOpened", true);
    }
  }
};
</script>
<style lang="sass">

</style>
