<template>
    <nuxt-link class="hero__cart" to="/cart"><span class="count" v-if="userCart.length > 0">{{ userCart.length }}</span><i class="hero__cart-icon"><img src="/images/cart.png" alt="cart"/></i>
        <p class="hero__cart-total">Корзина (<span>{{getTotalSum}}</span> руб)</p>
    </nuxt-link>
</template>


<script>
    import api from '~/assets/js/api.js'

    export default {
        name: 'BasketPrice',
        components: {},
        props: {

        },
        data() {
            return {
                userCart: [],
            }
        },
        mounted() {
            this.getCartSum();
            this.$root.$on('basketChangeSum', () => {
                this.getCartSum();
            });
        },
        computed: {
            getTotalSum() {
                let total = 0;
                this.userCart.forEach(product => {
                    total += (
                            !isNaN(Number.parseFloat(product.basket.price)) ? Number.parseFloat(product.basket.price) : 0)
                        * Number(product.basket.count)
                });
                return total.toFixed(2);
            }
        },
        methods: {
            getCartSum() {
                if(this.$cookie.get('user_hash')) {
                    api.getUserCart(this.$cookie.get('user_hash'))
                        .then(response => {
                            this.userCart = response;
                        })
                        .catch(error => {})
                }
            },
        }
    }
</script>


<style lang="scss">
    .count {
        position: absolute;
        top: 7px;
        left: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: red;
    }
</style>