<template>
    <ul class="breadcrumbs">
        <li v-for="link in links" :key="link.id" >
            <nuxt-link :to="link.link">
                {{link.name}}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'BreadCrumbs',
        props: [
            'links',
        ],
    }
</script>
