<template>
    <form>
        <div class="form-row">
            <div class="col-md-12 mb-12">
                <span class="form__group-message sent" v-if="formSent">Заявка отправленна</span>
                <input type="text" class="form-control" id="contact-name" v-model="form.name" placeholder="Ваше имя:" >
                <span class="form__group-message" v-if="nameError" >{{nameErrorMessage}}</span>
            </div>
            <div class="col-md-12 mb-12">
                <input type="phone" v-mask="'+#(###)###-##-##'" class="form-control" id="contact-phone" v-model="form.phone"  placeholder="Ваш телефон" >
                <span class="form__group-message" v-if="phoneError" >{{phoneErrorMessage}}</span>
            </div>
            <div class="col-md-12 mb-12">
                <textarea type="text" v-model="form.comment" class="form-control only-text-input t-area contact" id="contact-posts" rows="5" placeholder="Текст сообщения: " ></textarea>
                <span class="form__group-message" v-if="commentError">{{commentErrorMessage}}</span>
            </div>
        </div>
        <button class="btn btn-primary" @click="sendForm($event)">Отправить</button>
    </form>
</template>
<script>
    import api from "~/assets/js/api";

    export default {
        name: "FeedbackForm",
        data() {
            return {
                form: {
                    name: '',
                    phone: '',
                    comment: ''
                },
                nameError: false,
                phoneError: false,
                commentError: false,
                formSent: false,
                nameErrorMessage: '',
                phoneErrorMessage: '',
                commentErrorMessage: '',
            };
        },
        methods: {
            sendForm(event) {
                event.preventDefault();
                this.nameError = false;
                this.phoneError = false;
                this.commentError = false;
                if(!this.nameError && !this.phoneError && !this.commentError) {
                    const name = this.form.name;
                    const phone = this.form.phone;
                    const text = this.form.comment;
                    this.loading = true;
                    this.formSent = false;
                    api.sendForm(name, phone, text)
                        .then(response => {
                            this.loading = false;
                            this.formSent = true;
                            this.form.name = '';
                            this.form.phone = '';
                            this.form.comment = '';
                            this.nameError = false;
                            this.phoneError = false;
                            this.commentError = false;
                        })
                        .catch(error => {
                            this.loading = false;
                            error.response.data.forEach(err => {
                                switch (err.field) {
                                    case 'name' : {
                                        this.nameError = true;
                                        this.nameErrorMessage = err.message
                                    } break;
                                    case 'phone' : {
                                        this.phoneError = true;
                                        this.phoneErrorMessage = err.message
                                    } break;
                                    case 'text' : {
                                        this.commentError = true;
                                        this.commentErrorMessage = err.message
                                    } break;
                                }
                            })
                        })
                }
            },
            checkEmpty(type) {
                switch(type) {
                    case 'name': {
                        this.nameError = this.form.name === '';
                    } break;

                    case 'phone': {
                        this.phoneError = this.form.phone === '';
                    } break;

                    case 'comment': {
                        this.commentError = this.form.comment === '';
                    } break;
                }
            },
        }
    };
</script>

