<template>
  <main class="main">
    <section class="hero hero--home hero-product" style="background-image: url(/images/product/product-back.png)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">{{ h1Title }}</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input"><input type="text" name="hero-search" placeholder="Поиск по артикулу или названию товара"></div>
            </div><button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="product-page">
      <div class="container">
        <div class="inner__top">
          <h2 class="inner__title">{{ title }}</h2>
          <bread-crumbs v-if="!loading" :links="links"></bread-crumbs>
        </div>
        <div class="product-main" v-if="!loading">
          <div class="row">
            <div class="col-sm-5">
              <div class="product-img">
                <img :src="productImage(product)" :alt="product.view.supplier_name + product.view.product_name">
              </div>
            </div>
            <div class="col-sm-7">
              <div class="row product-price" style="margin-bottom: 15px;">
                <div class="col-sm-6">
                  <div class="product-price">
                    <p>Цены на сайте не являются публичной офертой. Актуальные цены уточнит наш менеджер после оформления вашего заказа в через корзину.</p>
                    <span>
                      {{isNaN(parseFloat(product.view.price)) ? 'Нет в наличии' : parseFloat(product.view.price)+' руб'}}
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 button-cart-mob">
                  <div class="product-add-to-cart" :class="isProductCart ? 'disabled' : ''">
                    <button @click.prevent="controlBasket" @dblclick.prevent="controlBasket">
                      <img src="/images/product/add-cart.png" alt="Добавить в корзину">
                      {{isProductCart ? 'Добавлен' : 'В корзину'}}
                    </button>
                  </div>
                </div>
              </div>
              <div class="product-attribute">
                <table>
                  <tbody>
                  <tr v-for="attribute in product.attributes" :key="attribute.id + Math.random()">
                    <td>{{attribute.description}}</td>
                    <td>{{attribute.displayvalue}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="product-revies">
                <div class="row">
                  <div class="col-sm-8">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-footer">
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="title title-last">
                <h2>Возможные аналоги (заменители) для запрошенного артикула {{product.view.part_number}}</h2>
              </div>
              <div>
                <p style="margin-left: 20px;">
                  Точную совместимость уточняйте на сайте производителя
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-12">
              <table class="product-footer-table-last">
                <thead>
                  <tr class="thead-product-table">
                    <td class="thead-product-table-item">Бренд</td>
                    <td class="thead-product-table-item">
                      <img ondragstart="return false" src="../../static/images/product/attribute-box.png" alt="">
                      Артикул
                    </td>
                    <td class="thead-product-table-item">
                      <img ondragstart="return false" src="../../static/images/product/attribute-name.png" alt="">
                      Наименование
                    </td>
                    <td class="thead-product-table-item">
                      Цена
                    </td>
                    <td class="thead-product-table-item">
                      <img ondragstart="return false" src="../../static/images/product/attribute-add-cart.png" alt="">
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="cross in product.crosses" :key="cross.id">
                    <td><h3>{{cross.supplier_name}}</h3></td>
                    <td>{{cross.part_number}}</td>
                    <td><nuxt-link class="art-mob" :to="'/product/' + cross.id">{{cross.product_name}}</nuxt-link></td>
                    <td>
                      {{parseFloat(cross.price)}} руб
                    </td>
                    <td><nuxt-link tag="button" :to="'/product/' + cross.id">Купить</nuxt-link></td>
                  </tr>
                </tbody>
              </table>

              <div class="product-footer-table-mob">
                <table class="mobile-cross-table" v-for="cross in product.crosses" :key="cross.id">
                  <tbody>

                  <tr class="cross-mobile-name">
                    <th scope="col">Бренд</th>
                    <th scope="col">{{cross.supplier_name}}</th>
                  </tr>
                  <tr>
                    <th scope="col">Название</th>
                    <th scope="col">{{cross.product_name}}</th>
                  </tr>
                  <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col" class="art-mob"><nuxt-link :to="'/product/' + cross.id">{{cross.part_number}}</nuxt-link></th>
                  </tr>
                  <tr>
                    <th scope="col">Цена</th>
                    <th scope="col" class="art-mob">{{parseFloat(cross.price)}} руб</th>
                  </tr>
                  <tr>
                    <th scope="col">Купить</th>
                    <th scope="col" class="art-mob"><nuxt-link tag="button" :to="'/product/' + cross.id">Купить</nuxt-link></th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="product-footer-text">
                <p>
                  Информация о товаре предоставлена для ознакомления и не является
                  публичной офертой. Производители оставляют за собой право изменять внешний вид,
                  характеристики и комплектацию товара, предварительно не уведомляя продавцов и
                  потребителей. Просим вас отнестись с пониманием к данному факту и заранее
                  приносим извинения за возможные неточности в описании и фотографиях товара.
                  Будем благодарны вам за сообщение об ошибках — это поможет сделать наш
                  каталог еще точнее!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>
<script>
  import Loader from '~/components/Loader.vue';
  import BasketPrice from "../../components/BasketPrice";
  import BreadCrumbs from "../../components/BreadCrumbs";

  export default {
    name: 'Product',
    components: {
      BreadCrumbs,
      BasketPrice,
      Loader
    },
    async asyncData({route, query, store, error}) {
      let params = route.params;

      return store.dispatch('getProductId', params.id).then(() => {

        return store.dispatch('getSectionId', {
          'sectionId': store.state.product.view.section_id,
          'modificationId': store.state.product.view.modification_id,
        });

      }).then(() => {

        return store.dispatch('getModificationId', store.state.product.view.modification_id);

      }).then(() => {

        let title = `${store.state.section.description} ${store.state.product.view.supplier_name} 🚘 для ${store.state.carInfo.manufacturers.description} ${store.state.carInfo.model.description} ${store.state.carInfo.modification.description} 🚘 купить ${store.state.product.view.part_number} в Казани - Запчасти для ${store.state.carInfo.manufacturers.description} ${store.state.carInfo.model.description} ${store.state.carInfo.modification.description}`;
        let description = `Заказать по низкой цене ${store.state.section.description} на автомобиль  ${store.state.carInfo.manufacturers.description} ${store.state.carInfo.model.description} ${store.state.carInfo.modification.description}. 🚘 Запчасти на все авто в наличии и под заказ с доставкой по Казани и Татарстану. Быстро и качественно - zapchasti-express.ru`;
        let h1Title = `${store.state.section.description} ${store.state.product.view.supplier_name} для ${store.state.carInfo.manufacturers.description} ${store.state.carInfo.model.description} ${store.state.carInfo.modification.description} ${store.state.product.view.part_number} в Казани`;

        return {
          loading: false,
          title: title,
          description: description,
          h1Title: h1Title
        }

      }).catch(e => {
        return error({ statusCode: 404, message: e });
      });
    },
    head() {
      return {
        title: this.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.description
          }
        ],
      }
    },
    data() {
      return {
        loading: true,
        title: '',
        description: '',
        h1Title: ''
      }
    },
    computed: {
      links: function() {
        let links = [];

        let brand = this.carInfo.manufacturers.description.replace(/\//g, '%2F');
        let model = this.carInfo.model.description.replace(/\//g, '%2F');
        let modification = this.carInfo.modification.description.replace(/\//g, '%2F');

        links.push({
          'id': 1,
          'name': 'Главная',
          'link': '/'
        });
        links.push({
          'id': 2,
          'name': 'Каталог',
          'link': `/${brand}/${model}/${modification}/${this.section.number}`
        });
        links.push({
          'id': 3,
          'name': this.product.view.supplier_name,
          'link': `/product/${this.$route.params.id}`
        });

        return links;
      },
      product: function () {
        let product = this.$store.getters['getProduct'];
        if(product) {
          return product;
        } else {
          return {
            view: {}
          }
        }
      },
      section: function () {
        return this.$store.getters['getSection'];
      },
      carInfo: function () {
        return this.$store.getters['getCarInfo'];
      },
      isProductCart: function () {
        return this.$store.getters['getIsProductCart'];
      }
    },
    created() {

    },
    mounted() {
      this.$store.dispatch('getUserCart', {
        'hash': this.$cookie.get('user_hash'),
        'productId': this.$route.params.id
      });
    },
    methods: {
      productImage(product) {
        let image = product.images ? product.images[0] && product.images[0].PictureName : '';
        let ext = image ? image.split('.')[1] : '';
        return image && (ext === 'PNG' || ext === 'png' || ext === 'jpg' || ext === 'JPG') ? `${this.$store.getters['getBaseUrl']}/auto/${image.split('_')[0]}/${image.split('.')[0]}.${ext.toLowerCase()}` : '/images/logo.png'
      },
      controlBasket() {
        this.loading = true;

        if(this.isProductCart) {
          return this.goPath();
        } else {

          if(!this.$cookie.get('user_hash')) {
            this.$store.dispatch('getUserHash').then(response => {
              this.$cookie.set('user_hash', response.str);

              return this.addProductToBasket();
            });
          } else {
            return this.addProductToBasket();
          }

        }
      },
      goPath() {
        return this.$router.push({name: 'cart'});
      },
      addProductToBasket() {
        this.$store.dispatch('addProductToBasket', {
          'modificationId': this.product.view.modification_id,
          'sectionId': this.product.view.section_id,
          'productId': this.$route.params.id,
          'hash': this.$cookie.get('user_hash'),
          'price': this.product.view.price
        }).then(response => {
          this.loading = false;
          this.$store.commit('setIsProductCart', true);
          this.$root.$emit('basketChangeSum');
        });
      }
    }
  }
</script>
<style lang="scss">
  .product-add-to-cart.disabled {
    & button {
      background: #3d4353;
    }
  }
  .mobile-cross-table:first-of-type ~ .mobile-cross-table {
    margin-top: 60px;
  }
  .cross-mobile-name th {
    font-weight: 700!important;
  }
  .art-mob {
    text-decoration: underline;
  }
  .button-cart-mob {
    width: 130px;
    height: 50px;
  }
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 22px;
    font-weight: 600;
  }
  .thead-product-table {

  }
  .thead-product-table-item {
    color: #1d1d1d;
    font-weight: 500;
    & img {
      margin-right: 7px;
    }
  }
  .thead-product-table-item:first-child {
    color: #005495;
  }
  .product-img img {

  }
</style>
