<template>
  <main class="main">
    <section class="hero hero--home" style="background-image: url(/images/hero-home.jpg);">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title hero__title-main">
            Запчасти экспресс – магазин автозапчастей с доставкой за 1 день со склада
          </h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input">
                <input
                  type="text"
                  name="hero-search"
                  placeholder="Поиск по артикулу или названию товара"
                />
              </div>
            </div>
            <button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="type">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="type__inner">
              <div class="type__tabs tabs">
                <div class="type__tabs-top tabs__top">
                  <div
                    class="type__tabs-button tabs__btn active"
                    data-target="#car"
                  >Выберете ваш автомобиль</div>
                  <div
                          class="type__tabs-button tabs__btn active"
                          data-target="#car"
                  ></div>
                </div>
                <div class="type__tabs-content tabs__content">
                  <div class="type__tabs-body tabs__body active" id="car">
                    <div class="choose__tab choose__tab--manufacturer light">
                      <div
                        class="choose__tab-body scrollbar-outer select-scrollbar-mobile light-auto"
                      >
                        <div
                          class="choose__tab-car-wrapper-column"
                          v-for="(pass_key, pass_key_index) in Object.keys(groupedPassengers)"
                          :key="pass_key_index"
                        >
                          <a
                            href="#"
                            @click.prevent="routeSearchAuto(passenger)"
                            v-for="(passenger, pass_index) in groupedPassengers[pass_key]"
                            :key="passenger.id"
                            :class="pass_key_index % 2 === 0 &amp;&amp; pass_index === 0 ? 'choose__tab-letter choose__tab-letter--odd' : (pass_key_index % 2 !== 0 &amp;&amp; pass_index === 0 ? 'choose__tab-letter choose__tab-letter--even' : '')"
                          >
                            <template v-if="pass_index === 0">
                              <i>{{pass_key.toUpperCase()}}</i>
                              <span>{{passenger.description.replace(' ', '&nbsp;')}}</span>
                            </template>
                            <template v-if="pass_index !== 0">{{passenger.description}}</template>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="type__tabs-body tabs__body" id="truck">
                    <div class="choose__tab choose__tab--manufacturer">
                      <div class="choose__tab-body scrollbar-outer select-scrollbar-mobile">
                        <div class="choose__tab-col"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="container contact__content delivery__content contact--border">

          <div class="row">
            <div class="col-6">
              <div class="contact-info">
                <a href="tel:8 (843) 207-14-13">8 (843) 207-14-13</a>
                <span>г. Казань, ул. Волочаевская 15 корпус 3</span>
              </div>

              <div class="contact-form">
                <span>Форма обратной связи</span>
                <p>Введите Ваши даные:</p>
                <feedback-form></feedback-form>
              </div>
            </div>

            <div class="col-6">
              <div class="contact-map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab981034cb5a5eae6d9f9cb14ba0485e88572ba802bedf84917db0a0de0948310&amp;source=constructor" width="100%" height="421" frameborder="0"></iframe>
              </div>
            </div>

          </div>

        </div>

    </section>
    <loader v-if="loading"></loader>
  </main>
</template>

<script>
import Loader from "~/components/Loader.vue";
import BasketPrice from "~/components/BasketPrice";
import FeedbackForm from "../components/FeedbackForm";

export default {
  head: {
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Заказывайте запчасти со склада с доставкой за 1 день. 🚀 Бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
      }
    ],
    title: "Магазин автозапчастей 🚘 zapchasti-express с доставкой за 1 день в Казани – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
  },
  components: {
    FeedbackForm,
    Loader,
    BasketPrice
  },
  data() {
    return {
      loading: true,
    };
  },
  computed: {
    groupedPassengers() {
      const result = {};
      const all_passengers = [...this.$store.getters['getBrands']];
      all_passengers.forEach((passenger, index) => {
        if (!result[passenger.matchcode[0]]) {
          result[passenger.matchcode[0]] = [];
          passenger.index = index;
          result[passenger.matchcode[0]].push(passenger);
        } else {
          passenger.index = index;
          result[passenger.matchcode[0]].push(passenger);
        }
      });
      let items = [];
      this.$router.options.routes.forEach(route => {
        items.push({
          name: route.name,
          path: route.path
        });
      });
      return result;
    },
  },
  created() {
    this.$store.dispatch('getBrands').then(() => {

      this.loading = false;

    }).catch(error => {
      return this.$nuxt.error({ statusCode: 404, message: error });
    });
  },
  methods: {
    routeSearchAuto(manufacturer) {
      let pageParams = manufacturer.description.replace(/\//g, "%2F");
      this.$router.push(`${pageParams}`);
    },
  }
};
</script>

<style lang="scss">
.hero__title-main {
  font-size: 3.125rem;
  @media screen and (max-width: 560px) {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1440px) {
  .choose__tab-body {
    max-width: 950px;
    min-width: 950px !important;
  }
  .top-tabs-wrapper {
    min-width: unset;
    min-height: 2000px !important;
  }
  .choose__tab--manufacturer.light {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .choose__tab--manufacturer.light {
    overflow-x: hidden;
    .choose__tab-body.light-auto {
      min-width: 770px !important;
    }
  }
  .choose__tab-body {
    max-width: 750px !important;
    min-width: 750px !important;
    overflow-x: hidden;
  }
  &.choose__tab--year {
    .choose__tab-body {
      max-width: 700px !important;
      min-width: 700px !important;
    }
  }
  &.choose__tab--model {
    .choose__tab-body {
      max-width: 650px !important;
      min-width: 650px !important;
    }
  }
  .top-tabs-wrapper {
    min-width: 800px !important;
    min-height: 2000px !important;
  }
}
@media screen and (max-width: 768px) {

  .choose__tab-car-wrapper-column {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .choose__tab--manufacturer.light {
    overflow-x: hidden;
    overflow-y: unset;
    .choose__tab-body.light-auto {
      overflow-y: visible;
      min-width: 100% !important;
      min-height: 2100px !important;
    }
    .choose__tab-letter {
      span {
        padding-left: 33px !important;
      }
    }
  }
  .choose__tab-body {
    max-width: 600px !important;
    min-width: 600px !important;
    overflow-x: hidden;
    .top-tabs-wrapper {
      min-width: 600px !important;
      min-height: 2000px !important;
    }
  }
  &.choose__tab--year {
    .choose__tab-body {
      max-width: 500px !important;
      min-width: 500px !important;
    }
  }
  &.choose__tab--model {
    .choose__tab-body {
      max-width: 450px !important;
      min-width: 450px !important;
    }
  }
}
@media screen and (max-width: 425px) {
  .choose__tab--manufacturer.light {
    overflow-x: hidden;
    .choose__tab-body.light-auto {
      min-width: 395px !important;
      overflow-y: hidden;
      min-height: 1750px !important;
    }
    .choose__tab-letter {
      span {
        padding-left: 33px !important;
      }
    }
  }
  .choose__tab-body {
    max-width: 300px !important;
    min-width: 300px !important;
    overflow-x: hidden;
    .top-tabs-wrapper {
      min-width: 300px !important;
      min-height: 2000px !important;
    }
    .choose__tab-letter {
      span {
        padding-left: 33px !important;
      }
    }
  }
  &.choose__tab--year {
    .choose__tab-body {
      padding-left: 0 !important;
      left: -100px;
      max-width: 300px !important;
      min-width: 300px !important;
      .top-tabs-wrapper {
        min-width: 300px !important;
        min-height: 300px !important;
        a {
          padding-left: 0 !important;
        }
      }
    }
  }
  &.choose__tab--model {
    .choose__tab-body {
      left: 0px;
      padding-left: 0 !important;
      max-width: 300px !important;
      min-width: 300px !important;
    }
    .top-tabs-wrapper {
      min-width: 300px !important;
      min-height: 300px !important;
    }
  }
}
.choose__tab.active .choose__tab-body.top-tabs {
  min-width: 1000px;
  max-width: 1000px;
  flex-direction: row;
  padding: 20px;
}
.top-tabs-wrapper {
  max-width: 100% !important;
  min-width: 100% !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.choose__tab-car-wrapper-column {
  display: block;
  margin: 20px 20px;
  width: calc(100% / 4)
}
.models a {
  width: 50% !important;
}

@media screen and (max-width: 750px) {
  .choose__tab.active .choose__tab-body.top-tabs {
    max-width: 100% !important;
    min-width: calc(100vw - 150px) !important;
    width: 100% !important;
  }
  .top-tabs-wrapper {
      display: block !important;
      max-width: 100% !important;
      min-width: calc(100vw - 150px) !important;
      justify-content: space-between !important;
      min-height: auto !important;
    }
  .choose__tab-car-wrapper-column {
      display: block;
      margin: 10px 0px;
      width: 100%;
    }
    .models a {
    width: 100% !important;
  }
}

.delivery__content .row{
  align-items: stretch !important;
}

.contact-map {
  height: 100% !important;
}

.contact-map iframe {
  height: 100% !important;
}

@media screen and (max-width: 770px) {
  .delivery__content .row{
    display: block;
  }

  .delivery__content .row .col-6{
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
  }

  .contact-map {
    height: 400px !important;
  }

  .contact-map iframe {
    height: 400px !important;
  }
}
</style>

