<template>
  <main class="main">
    <section class="hero hero--delivery" style="background-image: url(/images/hero-delivery.jpg)">
      <basket-price></basket-price>
      <div class="container">
        <div class="hero__inner">
          <h1 class="hero__title">Условия оплаты</h1>
          <form class="hero__search">
            <div class="form__group">
              <div class="form__group-input"><input type="text" name="hero-search" placeholder="Поиск по артикулу или названию товара"><span class="form__group-message">Поле должно быть заполнено</span></div>
            </div><button class="btn btn--upper hero__search-btn">Найти</button>
          </form>
        </div>
      </div>
    </section>
    <section class="inner inner--flex inner--delivery">
      <div class="container">
        <div class="inner__content">
          <aside class="sidebar">
            <div class="sidebar__item">
              <div class="sidebar__item-head">
                <div class="sidebar__item-head-title"><i><img src="/images/info.png" alt="alt"></i><span>Информация</span></div><button class="sidebar__item-head-burger"><img src="/images/burger.png" alt="alt"></button>
              </div>
              <ul class="sidebar__item-list">
                <li><nuxt-link to="/delivery"><i><img src="/images/list.png" alt="alt"></i><span>Доставка</span></nuxt-link></li>
                <li><nuxt-link to="/payment"><i><img src="/images/list.png" alt="alt"></i><span>Оплата</span></nuxt-link></li>
                <li><nuxt-link to="/contact"><i><img src="/images/list.png" alt="alt"></i><span>Контакты</span></nuxt-link></li>
                <li><nuxt-link to="/guarantees"><i><img src="/images/list.png" alt="alt"></i><span>Гарантии и возврат</span></nuxt-link></li>
              </ul>
            </div>
          </aside>
          <div class="inner__wrap">
            <div class="inner__top">
              <h1 class="inner__title">Оплата</h1>
              <ul class="breadcrumbs">
                <li><nuxt-link to="/">Главная</nuxt-link></li>
                <li><a>Оплата</a></li>
              </ul>
            </div>
            <div class="payment__content delivery__content inner--border">
              <div class="delivery__items">
                <div class="delivery__item">
                  <div class="delivery__item-icon">
                    <p class="delivery__item-title">
                      Наличный способ оплаты
                    </p>
                    <i>
                      <img src="/images/payment/icon.png" alt="alt">
                    </i>
                  </div>
                  <div class="delivery__item-info">
                    <div class="delivery__item-text">
                      <p>
                        Предполагает внесение денежных средств через кассу офиса, при самовывозе заказа
                      </p>
                    </div>
                  </div>
                </div>
                <div class="delivery__item">
                  <div class="delivery__item-icon">
                    <p class="delivery__item-title">
                      Безналичный способ
                    </p>
                    <i>
                      <img src="/images/payment/icon-2.png" alt="alt">
                    </i>
                  </div>
                  <div class="delivery__item-info">
                    <div class="delivery__item-text">
                      <p>
                        Предполагает выставление счёта на вашу организацию. Товар отгружается после
                        полной оплаты счёта.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="delivery__item">
                  <div class="delivery__item-icon">
                    <p class="delivery__item-title">
                      Банковской картой в офисе и на сайте
                    </p>
                    <i>
                      <img src="/images/payment/icon-3.png" alt="alt">
                    </i>
                  </div>
                  <div class="delivery__item-info">
                    <div class="delivery__item-text">
                      <p>
                        Вы можете оплатить банковской картой заказ, при самовывозе, а так же, онлайн, при
                        оплаты на сайте.
                        При оформлении заказа выберите способ оплаты "Банковской картой". По окончании
                        оформления заказа вам будет доступна форма оплаты. Нажмите "перейти на сайт
                        платежной системы". Далее следуйте инструкциям на сайте платежной системы.
                        Использовать для оплаты разрешается только вашу личную банковскую карту. Все
                        действия с персональными данными осуществляются при помощи защищенного
                        канала на сервере платежной системы. В систему заказов персональные данные о
                        ваших банковских картах не передаются. Также вы можете пополнить счет со
                        страницы состояние счета и архив заказов. В случае, если осуществить платеж не
                        удается, свяжитесь, пожалуйста, с представителем вашего банка для выяснения
                        причины отказа в платеже.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <loader v-if="loading"></loader>
  </main>
</template>
<script>
  import Loader from '~/components/Loader.vue'
  import BasketPrice from "../../components/BasketPrice";

  export default {
    name: 'Payment',
    head: {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Условия оплаты 🚀 Zapchasti-Express  - бесплатный подбор запчастей для вашей машины. В наличии более 100 000 запчастей на все марки авто.'
        }
      ],
      title: "Условия оплаты - 🚘 zapchasti-express – Бесплатный подбор автозапчастей 8 (843) 249-58-93"
    },
    components: {
      BasketPrice,
      Loader
    },
    data() {
      return {
        loading: false
      }
    },
    mounted() {},
    computed: {},
    methods: {}
  }
</script>
