<template>
  <main class="main">
    <div class="container">
      <div class="column-models">
        <div class="column-models__title">
          Модификации
        </div>
        <div class="column-models__inner">
          <a
            @click.prevent="routeToGarage(modification)"
            href="#"
            v-for="modification in modifications"
            :key="modification.description + Math.random()"
          >{{modification.fulldescription}}</a>
        </div>
      </div>
    </div>
    <loader v-if="loading"></loader>
  </main>
</template>

<script>

import Loader from "~/components/Loader.vue";

export default {
  components: {
    Loader
  },
  name: "model-modifications",
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description
        }
      ],
    }
  },
  data() {
    return {
      loading: true,
      title: '',
      description: ''
    };
  },
  computed: {
    modifications: function () {
      return this.$store.getters['getModifications'];
    }
  },
  created() {
    let brandDescription = this.$route.params.auto;
    let modelDescription = this.$route.params.model;

    this.title = `${brandDescription} ${modelDescription} 🚘 купить в Казани - Запчасти для ${brandDescription} ${modelDescription}`;
    this.description = `Заказать по низкой цене на автомобиль  ${brandDescription} ${modelDescription}. 🚘 Запчасти на все авто в наличии и под заказ с доставкой по Казани и Татарстану. Быстро и качественно - zapchasti-express.ru`;

    this.$store.dispatch('getModifications', {
      'brandDescription': brandDescription,
      'modelDescription': modelDescription
    }).then(() => {

      this.loading = false;

    }).catch(error => {
      return this.$nuxt.error({ statusCode: 404, message: error })
    });

  },
  mounted() {

  },
  methods: {
    routeToGarage(selectedModification) {
      let garageRoute = selectedModification.description.replace(/\//g, '%2F');
      this.$router.push(this.$route.fullPath + '/' + garageRoute);
    }
  }
};
</script>

<style lang="sass" scoped>
.main
  background-color: #0f141d
  padding: 20px 0
  .column-models
    display: flex
    flex-direction: column
    align-items: center
    &__inner
      display: flex
      flex-direction: column
      align-items: center
      background: #fff
      border-radius: 2px
      max-height: 350px
      overflow-y: scroll
      padding: 20px
      width: 400px
      text-align: center
    &__inner > a:first-of-type ~ *
      margin-top: 5px
    &__inner > a:hover
      color: #E62E04
    &__title
      letter-spacing: 0.02em
      font-size: 1.125em
      text-align: center
      color: #ffffff
      cursor: pointer
      border-radius: 6px 6px 0 0
      padding: 1.375rem 60px
      background-color: #e62e04
</style>
